
#tour_slider {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

.scroll {
    height: 360px;
    width: 950px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
/*	padding:0  70px;*/
    clear: left;
    background:rgba(0,0,0,0.1);
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-top-right-radius:0;
	border-top-left-radius:0;
	-moz-border-top-right-radius:0;
	-moz-border-top-left-radius:0;
	-webkit-border-top-right-radius:0;
	-webkit-border-top-left-radius:0;
}

.scrollContainer div.panel {
    padding: 30px 70px;
    height: 300px;
    width: 810px;
}

#shade {
    background: #EDEDEC url(shade.jpg) no-repeat 0 0;
    height: 50px;
}

ul.navigation {
	font:24px/24px 'bariol_regularregular', 'ie8_bariol_regular';
    list-style: none;
   
    padding:27px 0px;
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	-moz-border-bottom-right-radius:0;
	-moz-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
	/*background:rgba(255, 255, 255, 0.3);*/
	background:url(../images/tour_header_bg.png) repeat-x bottom;
	
}

ul.navigation li {
    display: inline;
    margin-right: -6px;

}

ul.navigation a{
    padding:25px 57px;
    color: #1b4d5f;
    text-decoration: none;
	border-right:2px solid rgba(27, 77, 95, 0.5);
	margin:0;
}
ul.navigation a.last11
{
border-right:0px solid rgba(27, 77, 95, 0.5);
}
ul.navigation a:hover {
 padding:25px 57px;
/*border-bottom:5px solid #c2002d;*/
    background:url(../images/tour_header_hover.png) repeat-x bottom;
}

ul.navigation a.selected {
 padding:25px 57px;
   background:url(../images/tour_header_hover.png) repeat-x bottom;
/*	border-bottom:5px solid #c2002d;*/
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 210px;
    cursor: pointer;
	z-index:99;
}

.scrollButtons.left {
    left: 10px;
}
.scrollButtons.left:hover {
    background:url(../slider/scroll_left_hover.png) no-repeat;
}

.scrollButtons.right {
    right: 10px;
}
.scrollButtons.right:hover {
    right: 10px;
	background:url(../slider/scroll_right_hover.png) no-repeat;
}

.hide {
    display: none;
}