.communicator
{
	color: fireBrick;
	margin-left: 25px;
	/*margin-bottom: 10px;*/
}

.communicator .header
{
	display: none;
	font-size: 0px;	/* ensures min height */
	height: 8px;
	background-image: url(communicator/communicator_header.png);
}

.communicator .header .cap
{
	height: 8px;	
}

.communicator .body
{
	background-color: #cdd6e5;
	padding: 10px 11px 6px;	
}

.communicator .body .cap
{	
	line-height: 20px;
	padding-bottom: 3px;
}

.communicator .footer
{
	display: none;
	font-size: 0px;	/* ensures min height */
	height: 5px;
	background-image: url(communicator/communicator_footer.png);
}

.communicator .footer .cap
{
	height: 5px;	
	background-image: url(communicator/communicator_footerCap.png);
	background-position: right;
	background-repeat: no-repeat;
}

.communicatorIcon
{
	float: left;

	margin: 2px 11px 0px 0px;	
}