<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>InCyyte Email Templates Welcome Email</title>
<style type="text/css">
<!--
body {
	margin: 0px;
	padding:0px;
	border:0;
	font:16px/22px Arial, Helvetica, sans-serif; 
	font-weight:normal;
	color:#1b303f;
	background:#DBD9D5 url('http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/bg_pattern.png') 0 0 repeat;
}
A {text-decoration:underline; color:#1b303f;}
A:hover {text-decoration:none; color:#b40021;}
.review_view_icon {
display:block;
	width:32px;
	height:33px;
	background:url(http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/review_view_icon.png) no-repeat 0px 10px;
}
.review_view_icon:hover, .review_view_icon.active
{
background:url(http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/review_view_icon.png) no-repeat 0px -22px;
}
.style1 {font-size: 14px}
.style2 {font-weight: bold}
.style3 {
	color: #012C3D;
	font-weight: bold;
	font-size: 11px;
}
.style7 {
color: #012C3D;
font-size: 11px;}
.photoframe{
border:1px solid #A4A4A4;
padding:1px;
}
-->
</style>
</head>
<body >
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0"  bgcolor="#ffffff">
  <tr>
    <td colspan="3" align="left" valign="top" style="background:#012c3d;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="58%">&nbsp;</td>
        <td width="42%" align="right" style="padding:5px 15px 0 0 ;font-size:11px;text-align:right;line-height:16px;	color:#FFFFFF;">Email not displaying properly?<br />
          <a href="http://beta.incyyte.com/app" style="color:#fff;">View in your browser</a> </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3" align="left" valign="top" style="background:#012c3d;"><img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/logo_header.jpg"></td>
  </tr>
  <tr>
    <td width="24" align="left" valign="top">&nbsp;</td>
    <td valign="top"><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
        <tr>
          <td style="font-size:16px;"><h1 style="font-size:32px;">Time to Vote!</h1>
          <p>${username} has sent you an inCyyte poll and would like your opinion on:</p><br></td>
        </tr>
        
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr style="background:#E0E0E0;">
                    <td width="15%" align="center" ><div align="center"><img src="${profilePic}" width="46" height="46" alt="User Photo" class="photoframe"></div></td>
<td width="85%"><table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                          <td width="12%"><span class="style3">Creator:</span></td>
                          <td width="43%"><span class="style7">${username} </span></td>
                          <td width="21%">&nbsp;</td>
                          <td width="24%">&nbsp;</td>
                        </tr>
                        <tr>
                          <td><span class="style7"><strong>Created:</strong></span></td>
                          <td><span class="style7">${created_date}</span></td>
                          <td><span class="style7"><strong>Poll Reference:</strong></span></td>
                          <td><span class="style7">${poll_ref}</span></td>
                        </tr>
                        <tr>
                          <td><span class="style7"><strong>Group:</strong></span></td>
                          <td><span class="style7">${group_name}</span></td>
                          <td><span class="style7"><strong>Closing Date: </strong></span></td>
                          <td><span class="style7">${closing_date} </span></td>
                        </tr>
                      </table></td>
              </tr>
                </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="54%" valign="top" style="padding-right:10px;"><div align="justify" class="style2"><span class="style1">${question}</span>.</div></td>
                          <td width="46%" align="right" valign="top">
                            #if(${question_file} != "")                          
                          		<a href="http://beta.incyyte.com/app/"><img src="${question_file}" alt="question_file" width="203" height="152" border="2" /></a>
                          	#else
                          		<a href="http://beta.incyyte.com/app/"><img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/photo1.png" alt="no_file" width="152" height="152" border="2" /></a>
							#end
                          </td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px;">
          			#foreach( $answer in $answers )
                        <tr>
                            <td >
                                #if( $answer.photoIncluded )
                                    <a href="$answer.uploadCDN_url">
                                        <img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/view_icon_small.png" border="0" alt="view" align="middle">
                                    </a>
                                #end
                            </td>
                            <td width="68%">$answer.answerOption</td>
                          <td width="23%" align="right" ><a href="${votingURL}?incyyteId=${incyyteID}&memberId=${contactId}&selectedAnswerId=$answer.id&actcode=${activationCode}&email=${email}&frm=incomming" ><img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/vote.png" alt="Vote" border="0"></a></td>
                        </tr>
					#end
                        <tr>                          
                          <td>&nbsp;</td>
                          <td align="right" >&nbsp;</td>
                        </tr>
                      </table>
          </td>
        </tr>
        <tr>
          <td><p align="center"><br>
          </p></td>
        </tr>
        <tr>
          <td><p style="font-size:10px;color:#002c3d;" align="center">You have recieved this email because someone you know wants your response. </p>
          </td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF">&nbsp;</td>
        </tr>
        
        
    </table></td>
    <td width="24" align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td height="87" colspan="3" align="left" valign="top" style="background:#002c3d;" ><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td >&nbsp;</td>
      </tr>
      
      <tr>
        <td style="color:#fff; font-size:12px;"><a href="http://beta.incyyte.com/app" style="color:#fff;">InCyyte Home</a> | <a href="http://beta.incyyte.com/app" style="color:#fff;">Top Polls</a> | <a href="http://beta.incyyte.com/app" style="color:#fff;">inCyyte for Business</a><br>
    InCyyte Limited  Marshway  Rainham Essex RM13 8EU United Kingdom.</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
