/*---------------- categories icons ------------ */

.heading1
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:26px;
	color: #1b4d5f;
	font-weight:600;
	text-shadow:0px 1px #fff;
	letter-spacing:1px;
	padding:0px 10px 15px 0px;
}

.heading11
{
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-size:24px;
    color: #1b4d5f;
    font-weight:600;
    text-shadow:0px 1px #fff;
    letter-spacing:1px;
    padding:0px 10px 15px 0px;
}

.heading1_creatacct
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:26px;
	color: #1b4d5f;
	font-weight:600;
	text-shadow:0px 1px #fff;
	letter-spacing:1px;
	padding:0px 10px 15px 40px;
}
.heading1 span
{
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	font-size:14px;
	color: #1b4d5f;
	font-weight:normal;
	text-shadow:none;
	letter-spacing:0.75px;
	padding:0px 10px 15px 0px;
}
.heading2
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:22px;
	color: #1b4d5f;
	text-shadow:1px 1px #fff;
	float:left;
}
.heading3, .heading4
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:28px;
	color: #1b4d5f;
	font-weight:600;
	text-shadow:0px 1px #fff;
	letter-spacing:1px;
	padding:0px 10px 15px 25px;
}
.heading4
{
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	font-size:28px;
	font-weight:normal;
	letter-spacing:0px;
	padding-left:0;
}
.heading5
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:22px;
	color: #1b4d5f;
	text-shadow:1px 1px #fff;
	padding:15px 0 25px 0;
}
.heading6
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:24px;
	color: #1b4d5f;
	text-shadow:1px 1px #fff;
	padding:15px 0 10px 0;
}
.heading7
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:20px;
	color: #1b4d5f;
	padding:15px 0 30px 0;
	line-height:24px;
}
.heading8
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:20px;
	color: #1b4d5f;
	padding:0;
	line-height:20px;
	text-shadow:0px 1px rgba(255,255,255,0.5);
}

.common_text
{
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	font-size:18px;
	color: #1b4d5f;
	padding:0px 0 10px 25px;
	line-height:24px;
}
.common_text a
{
color: #1b4d5f;
}

.common_text a:hover, .common_text a.active
{
text-decoration:underline;
}

#add_an_answer
{
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	position:relative;
	font-size:14px;
	color: #1b4d5f;
	font-weight:normal;
	text-shadow:0px 1px #fff;
	letter-spacing:0.75px;
	/*padding:0px 10px 15px 0px;*/
	margin:5px 0 0 280px;
	cursor: pointer;
}


#categories_container
{
	background:rgba(0, 0, 0, 0.12);
	height:30px;
	padding:20px 17px;
	width:916px;
	margin-bottom:9px;
	font-size:16px;
	font-family:'bariol_boldbold', 'ie8_bariol_bold';

}
#categories_list
{
position:relative;
width:760px;
margin:0 0 20px 0px;
float:right;

}
#categories_list li {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:0;
}
#categories_list li, #categories_list a {
	height:32px;
	display:block;
}

#music {
	left: 0px;
	width: 38px;
	background: url(../images/category_button.png) 0 0px;
}

#music a:hover {
	left: 0px;
	width: 38px;
	background: url(../images/category_button.png) 0 -32px;
}

#sports {
	left: 38px;
	width: 54px;
	background: url(../images/category_button.png) -38px 0px;
}

#sports a:hover {
	background: url(../images/category_button.png) -38px -32px;
}

#religion {
	left: 92px;
	width: 48px;
	background: url(../images/category_button.png) -92px 0px;
}

#religion a:hover {
	background: url(../images/category_button.png) -92px -32px;
}

#politics {
	left: 140px;
	width: 48px;
	background: url(../images/category_button.png) -140px 0px;
}

#politics a:hover {
	background: url(../images/category_button.png) -140px -32px;
}

#community {
	left: 188px;
	width: 51px;
	background: url(../images/category_button.png) -188px 0px;
}

#community a:hover {
	background: url(../images/category_button.png) -188px -32px;
}

#work_related {
	left: 239px;
	width: 42px;
	background: url(../images/category_button.png) -239px 0px;
}

#work_related a:hover {
	background: url(../images/category_button.png) -239px -32px;
}

#shopping {
	left: 281px;
	width: 44px;
	background: url(../images/category_button.png) -281px 0px;
}

#shopping a:hover {
	background: url(../images/category_button.png) -281px -32px;
}

#relationships {
	left: 326px;
	width: 55px;
	background: url(../images/category_button.png) -326px 0px;
}

#relationships a:hover {
	background: url(../images/category_button.png) -326px -32px;
}

#health_medical {
	left: 381px;
	width: 43px;
	background: url(../images/category_button.png) -381px 0px;
}

#health_medical a:hover {
	background: url(../images/category_button.png) -381px -32px;
}

#fitness_beauty {
	left: 424px;
	width: 46px;
	background: url(../images/category_button.png) -424px 0px;
}

#fitness_beauty a:hover {
	background: url(../images/category_button.png) -424px -32px;
}

#travel {
	left: 470px;
	width: 42px;
	background: url(../images/category_button.png) -470px 0px;
}

#travel a:hover {
	background: url(../images/category_button.png) -470px -32px;
}

#food_drink {
	left: 512px;
	width: 54px;
	background: url(../images/category_button.png) -512px 0px;
}

#food_drink a:hover {
	background: url(../images/category_button.png) -512px -32px;
}

#motoring {
	left: 566px;
	width: 59px;
	background: url(../images/category_button.png) -566px 0px;
}

#motoring a:hover {
	background: url(../images/category_button.png) -566px -32px;
}

#computer_internet {
	left: 625px;
	width: 57px;
	background: url(../images/category_button.png) -625px 0px;
}

#computer_internet a:hover {
	background: url(../images/category_button.png) -625px -32px;
}

#entertainment {
	left: 682px;
	width: 45px;
	background: url(../images/category_button.png) -682px 0px;
}

#entertainment a:hover {
	background: url(../images/category_button.png) -682px -32px;
}

#other {
	left: 727px;
	width: 28px;
	background: url(../images/category_button.png) -727px 0px;
}

#other a:hover {
	background: url(../images/category_button.png) -727px -32px;
}

#poll_settings_left, #poll_settings_right, #send_your_poll_left, #postal_region_left,
#send_your_poll_right, #review_and_send_top, #categories_container, #postal_region_right,
#choose_your_answers, #reset_password_bg, #choose_your_answers_login, #term_settings_left, #term_settings_right, #vote_container
{
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-top-right-radius:0;
	border-top-left-radius:0;
	-moz-border-top-right-radius:0;
	-moz-border-top-left-radius:0;
	-webkit-border-top-right-radius:0;
	-webkit-border-top-left-radius:0;
}
#postal_region_right{
    min-height: 150px;
}
#choose_your_answers_new
{
    border-radius:35px;
    -moz-border-radius:35px;
    -webkit-border-radius:35px;
    border-top-right-radius:0;
    border-top-left-radius:0;
    -moz-border-top-right-radius:0;
    -moz-border-top-left-radius:0;
    -webkit-border-top-right-radius:0;
    -webkit-border-top-left-radius:0;
    background:rgba(0, 0, 0, 0.1) ;

}
#ask_que_now, #poll_settings, #term_settings, #vote_settings {
	position:relative;
	/*height:205px;*/
	width:916px;
	padding:25px 17px;
	background:rgba(255, 255, 255, 0.3) url(../images/ask_bg.png) repeat-x bottom;
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	margin-bottom:10px;
}
#ask_que_now
{
margin-bottom:0;
}
#ask_que_category, #choose_your_answers_heading
{
	width:916px;
	padding:25px 17px;
	background:rgba(255, 255, 255, 0.3);
	/*height:80px;*/
	position:relative;
		border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	-moz-border-bottom-right-radius:0;
	-moz-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
}

/*#choose_your_answers_heading
{
	background:rgba(255, 255, 255, 0.3);
	
}*/
#choose_your_answers, #reset_password_bg
{
	background:rgba(0, 0, 0, 0.1) ;
	/*height:200px;*/
}
#choose_your_answers_login
{
    background:rgba(0, 0, 0, 0.1) ;
    /*height:200px;*/
}
#poll_settings, #review_and_send
{
	background:url(../images/poll_setting_wht_bg.png) repeat-x top;
	height:131px;
	padding:0;
	padding-top:30px;
	width:950px;
}
#poll_settings_left
{
	background:url(../images/poll_setting_bg.png) repeat-x bottom;
	height:48px;
	float:left;
	width:400px;
	padding:30px 20px 0 20px;
}
#poll_settings_right
{
	background:url(../images/poll_setting_bg.png) repeat-x bottom;
	height:78px;
	float:right;
	width:461px;
	margin-left:9px;
	padding:0 20px;
}

#term_settings
{
	background:url(../images/poll_setting_wht_bg.png) repeat-x top;
	height:131px;
	padding:0;
	padding-top:25px;
	width:950px;
}
#term_settings_left
{
	background:url(../images/poll_setting_bg.png) repeat-x bottom;
	height:48px;
	float:left;
	width:585px;
	padding:30px 20px 0 35px;
}
#term_settings_right
{
	background:url(../images/poll_setting_bg.png) repeat-x bottom;
	height:54px;
	float:right;
	width:301px;
	margin-left:9px;
}
#term_settings_right a
{
color:#1b4d5f;
text-shadow:0px 1px #fff;
}
#term_settings_right a:hover
{
color:#b01d35;
}


#send_your_poll
{
	padding:30px 0 0 0;
	margin:0;
	width:950px;
	/*height:295px;*/
	position:relative;
	background:url(../images/poll_setting_wht_bg.png) repeat-x top;
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	-moz-border-bottom-right-radius:0;
	-moz-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
}
#send_your_poll_top
{
	background:rgba(0, 0, 0, 0.12);
	height:40px;
	padding:20px 17px 0 17px;
	width:916px;
	margin-bottom:9px;
	font-size:16px;
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	position:relative;
}

#send_your_poll_left, #postal_region_left
{
	background:rgba(0, 0, 0, 0.12);
	/*height:118px;*/
	float:left;
	width:247px;
	padding:20px;
	position:relative;
	margin-bottom:10px;
}
#send_your_poll_right, #postal_region_right
{
	background:rgba(0, 0, 0, 0.12);
	/*height:118px;*/
	float:right;
	width:612px;
	margin-left:9px;
	margin-bottom:10px;
	padding:20px;
	font-size:18px;
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	position:relative;
}
#send_your_poll_right strong
{
font-family:'bariol_boldbold', 'ie8_bariol_bold';
}
#askyour_que_btn
{
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	width:271px;
	background:rgba(0, 0, 0, 0.12);
	float:right;
	height:50px;
	padding-top:10px;
	margin-bottom:30px;
	
}

#fgt_pwd_back_btn
{
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	width:271px;
	background:rgba(0, 0, 0, 0.12);
	float:right;
	height:50px;
	padding-top:10px;
	margin-bottom:30px;
	
}

#fgt_pwd_login_btn
{
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	width:271px;
	background:rgba(0, 0, 0, 0.12);
	float:right;
	height:50px;
	padding-top:10px;
	margin-bottom:30px;
	
}

#review_and_send
{
	background:url(../images/poll_setting_wht_bg.png) repeat-x top;
	height:25px;
	padding:25px 17px;
	width:916px;
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	-moz-border-bottom-right-radius:0;
	-moz-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
	position:relative;
	float:left;
	
}
#review_and_send_top
{
	background:rgba(0, 0, 0, 0.12);
	height:40px;
	padding:15px 17px;
	width:916px;
	margin-bottom:9px;
	font-size:16px;
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	position:relative;
	float:left;
	margin-bottom:80px;

}

	#myTextarea3 {
	font-size:20px;
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	color: #1b4d5f;
	width:100%;
	border:0;
	line-height:18px;
	margin:0;
	padding:10px 0 0 0;
	vertical-align:top;
	border-radius:0;
	resize:none;
}
#typeyourquestion
 {
	padding: 5px 30px 2px 30px;
	width:627px;
	height:auto;
	display:inline-block;
	border:1px #878787 solid;
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	-o-border-radius:35px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)inset;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)inset;
	-o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)inset;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)inset;
	background:#fff;
	/*z-index:999;*/

}

#emailArr {
	font-size:12px;
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	border:1px #878787 solid;
	color: #1b4d5f;
	width:360px;
	height:80px;	
	line-height:18px;
	margin-left:8px;	
	padding:5px;
	vertical-align:top;
	border-radius:1px;
	resize:none;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}
#addContactsArr
 {
	padding: 5px 30px 2px 30px;
	width:340px;
	height:auto;
	display:inline-block;
	border:1px #878787 solid;
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	-o-border-radius:35px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)inset;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)inset;
	-o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)inset;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)inset;
	background:#fff;
	/*z-index:999;*/
}
#add_media, #add_media1, #answer_container
{
	position:relative;
	margin:0 auto 17px auto;
	width:916px;
	border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	background-color:#bababa;
}

#add_media1
{
	margin:0;
	position:relative;
}
#add_media1 label
{
	position:absolute;
	padding-top:5px;
}
#answer_container
{
background:none;
padding:15px 0;
}
#answer_container a
{
color:#1b4d5f;
}
#answer_container a:hover
{
color:#b01d35;
}
#rightcontent
{
float:right;
padding:11px 8px 10px 8px;
width:205px;
position:relative;
}
#media_icon
{
float:left;
position:relative;

}
#rightcontent span
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:28px;
	line-height:normal;
	color: #1b4d5f;
	font-weight:600;
	text-shadow:0px 1px #fff;
	letter-spacing:1px;
	float:left;
	padding-right:5px;
	/*padding-top:2px;*/
}

#media_icon li {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:0px;

}
#media_icon li, #media_icon li a {
	height:35px;
	display:block;
	
}

#videos_icon {
	left:0;
	width:36px;
	background:url(../images/media_icons.png) 0 0;
}
#videos_icon a:hover{
	left:0px;
	width:36px;
	background:url(../images/media_icons.png) 0 -36px;
}
#photos {
	left:36px;
	width:38px;
	background:url(../images/media_icons.png) -36px 0;
}
#photos a:hover
{
background:url(../images/media_icons.png) -36px -36px;
}
#docs {
	left:74px;
	width:40px;
	background:url(../images/media_icons.png) -74px 0;
}
#docs a:hover
{
background:url(../images/media_icons.png) -74px -36px;
}
#links {
	left:114px;
	width:37px;
	background:url(../images/media_icons.png) -114px 0;
}
#links a:hover
{
background:url(../images/media_icons.png) -114px -36px;
}
/*** media icons small *************/
#media_small_icon
{
width:100px;
float:right;
/*padding-left:8px;*/
position:relative;
text-align:left;
}

#messageErrorDiv span, #createbizerrorDiv span, #editbizerrorDiv span, #enterBizDetailsErrorDiv span,#inValidCompNameDiv span, #inValidAddress1Div span,
#inValidCompanyLogoDiv span, #inValidPostcodeDiv span, #inValidAddress2Div span, #inValidCityDiv span,#inValidCountryDiv span, #inValidEmailDiv span,#inValidPhoneDiv span,
#inValidDescription1Div span,#inValidDescription2Div span, #inValidWebsiteDiv span, #inValidBannerDiv span
{
	font:14px/20px 'bariol_regularregular', 'ie8_bariol_regular';
    color: #C2002D;
	padding:0 0 0 5px;
	margin:0;
}
#create_bizacctdiv span, #edit_bizacctdiv span{
	font:14px/20px 'bariol_regularregular', 'ie8_bariol_regular';
    color: #3a7d34;
	padding:0 0 0 5px;
	margin:0;
}
#commentErrorDiv span
{
	font:14px/20px 'bariol_regularregular', 'ie8_bariol_regular';
    color: #C2002D;
	padding:0 0 0 3px;
	margin:0;
}

#signupErrorDiv span, #signupEmailErrorDiv span, #settingsPageNameDiv span,#signupPWD_error{
	font:14px/20px 'bariol_regularregular', 'ie8_bariol_regular';
    color: #C2002D;
	padding:0 0 0 5px;
	margin:0;
}
#answer_container span
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:16px;
	line-height:normal;
	color: #1b4d5f;
	font-weight:bold;
	text-shadow:0px 1px #fff;
	letter-spacing:0.75px;
	padding:0 0 0 5px;
	margin:0;
	/*padding-top:2px;*/
}
#media_small_icon li {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:8px;
	

}
#media_small_icon li, #media_small_icon a {
	height:21px;
	display:block;
}

#videos_small, #videos_small_1, #videos_small_2, #videos_small_3, #videos_small_4, #videos_small_5, #videos_small_6, #videos_small_7, #videos_small_8, #videos_small_9, #videos_small_10 {
	left:0px;
	width:23px;
	background:url(../images/media_icons_small.png) 0 0;
}
#videos_small a:hover, #videos_small_1 a:hover, #videos_small_2 a:hover, #videos_small_3 a:hover, #videos_small_4 a:hover, #videos_small_5 a:hover, #videos_small_6 a:hover, #videos_small_7 a:hover, #videos_small_8 a:hover, #videos_small_9 a:hover, #videos_small_10 a:hover{
	left:0px;
	width:23px;
	background:url(../images/media_icons_small.png) 0 -25px;
}
#photos_small, #photos_small_1, #photos_small_2, #photos_small_3, #photos_small_4, #photos_small_5, #photos_small_6, #photos_small_7, #photos_small_8, #photos_small_9, #photos_small_10 {
	left:23px;
	width:24px;
	background:url(../images/media_icons_small.png) -23px 0;
}
#photos_small a:hover, #photos_small_1 a:hover, #photos_small_2 a:hover, #photos_small_3 a:hover, #photos_small_4 a:hover, #photos_small_5 a:hover, #photos_small_6 a:hover, #photos_small_7 a:hover, #photos_small_8 a:hover, #photos_small_9 a:hover, #photos_small_10 a:hover{
	background:url(../images/media_icons_small.png) -23px -25px;
}
#docs_small, #docs_small_1, #docs_small_2, #docs_small_3, #docs_small_4, #docs_small_5, #docs_small_6, #docs_small_7, #docs_small_8, #docs_small_9, #docs_small_10 {
	left:47px;
	width:24px;
	background:url(../images/media_icons_small.png) -47px 0;
}
#docs_small a:hover, #docs_small_1 a:hover, #docs_small_2 a:hover, #docs_small_3 a:hover, #docs_small_4 a:hover, #docs_small_5 a:hover, #docs_small_6 a:hover, #docs_small_7 a:hover, #docs_small_8 a:hover, #docs_small_9 a:hover, #docs_small_10 a:hover{
	background:url(../images/media_icons_small.png) -47px -25px;
}
#url_small, #url_small_1, #url_small_2, #url_small_3, #url_small_4, #url_small_5, #url_small_6, #url_small_7, #url_small_8, #url_small_9, #url_small_10  {
	left:71px;
	width:23px;
	background:url(../images/media_icons_small.png) -71px 0;
}
#url_small a:hover, #url_small_1 a:hover, #url_small_2 a:hover, #url_small_3 a:hover, #url_small_4 a:hover, #url_small_5 a:hover, #url_small_6 a:hover, #url_small_7 a:hover, #url_small_8 a:hover, #url_small_9 a:hover, #url_small_10 a:hover{
	background:url(../images/media_icons_small.png) -71px -25px;
}

#view_small, #view_small_1, #view_small_2, #view_small_3, #view_small_4, #view_small_5, #view_small_6, #view_small_7, #view_small_8, #view_small_9, #view_small_10 {
	left:0px;
	width:26px;
	background:url(../images/view_docs.png) no-repeat 0px 0px;
}
#view_small a:hover, #view_small_1 a:hover, #view_small_2 a:hover, #view_small_3 a:hover, #view_small_4 a:hover, #view_small_5 a:hover, #view_small_6 a:hover, #view_small_7 a:hover, #view_small_8 a:hover, #view_small_9 a:hover, #view_small_10 a:hover{
	background:url(../images/view_docs_hover.png) no-repeat 0px 0px;
}

#view_small_icon, #view_small_icon_1, #view_small_icon_2, #view_small_icon_3, #view_small_icon_4, #view_small_icon_5, #view_small_icon_6, #view_small_icon_7, #view_small_icon_8, #view_small_icon_9, #view_small_icon_10 {
	width:26px;
	background:url(../images/view_docs.png) no-repeat 0px 0px;
}

#view_small_icon a:hover, #view_small_icon_1 a:hover, #view_small_icon_2 a:hover, #view_small_icon_3 a:hover, #view_small_icon_4 a:hover, #view_small_icon_5 a:hover, #view_small_icon_6 a:hover, #view_small_icon_7 a:hover, #view_small_icon_8 a:hover, #view_small_icon_9 a:hover, #view_small_icon_10 a:hover{
	background:url(../images/view_docs_hover.png) no-repeat 0px 0px;
}

/*** media icons small *************/

/********** Modal Media ICon ************/
#modal_media_icon li, #modal_media_icon1 li, #modal_media_icon2 li, #modal_media_comments_icon li {
	margin:4px 0;
	padding:0;
	list-style:none;
	/*position:absolute;
	left:0px;*/

}
#modal_media_icon li, #modal_media_icon li a, #modal_media_icon1 li, #modal_media_icon1 li a, #modal_media_comments_icon li, #modal_media_comments_icon li a , #modal_media_icon2 li, #modal_media_icon2 li a {
	height:34px;
	width:34px;
	display:block;
	
	
}

#view_modal_videos, #modal_view_videos_comments,  #modal_videos, #modal_videos1, #modal_videos2, #modal_videos_comments, #modal_videos_comments1, #modal_videos_1, #modal_videos_2, #modal_videos_3, #modal_videos_4, #modal_videos_5, #modal_videos_6, #modal_videos_7, #modal_videos_8, #modal_videos_9, #modal_videos_10 {
	background:url(../images/modal_media_icon12.png) 0 0;
}
#view_modal_videos a:hover, #view_modal_videos .active, #modal_videos a:hover, #modal_view_videos_comments .active,  #modal_videos_comments .active, #modal_videos_comments1 .active, #modal_videos .active, #modal_videos1 a:hover, #modal_videos1 .active, #modal_videos2 a:hover, #modal_videos2 .active, #modal_videos_1 a:hover, #modal_videos_1 .active, #modal_videos_2 a:hover, #modal_videos_2 .active, #modal_videos_3 a:hover, #modal_videos_3 .active, #modal_videos_4 a:hover, #modal_videos_4 .active,
#modal_videos_5 a:hover, #modal_videos_5 .active, #modal_videos_6 a:hover, #modal_videos_6 .active, #modal_videos_7 a:hover, #modal_videos_7 .active, #modal_videos_8 a:hover, #modal_videos_8 .active, #modal_videos_9 a:hover, #modal_videos_9 .active, #modal_videos_10 a:hover, #modal_videos_10 .active{
	background:url(../images/modal_media_icon12.png) -49px 0;
}
#view_modal_photos, #modal_photos, #modal_photos1, #modal_photos_comments, #modal_photos_comments1, #modal_view_photos_comments,  #modal_photos2, #modal_photos_1, #modal_photos_2, #modal_photos_3, #modal_photos_4, #modal_photos_5, #modal_photos_6, #modal_photos_7, #modal_photos_8, #modal_photos_9, #modal_photos_10 {
	background:url(../images/modal_media_icon12.png) 0 35px;
}
#view_modal_photos a:hover,#view_modal_photos .active, #modal_photos a:hover, #modal_photos .active, #modal_photos_comments .active, #modal_view_photos_comments .active,  #modal_photos_comments1 .active, #modal_photos1 a:hover, #modal_photos1 .active, #modal_photos2 a:hover, #modal_photos2 .active, #modal_photos_1 a:hover, #modal_photos_1 .active, #modal_photos_2 a:hover, #modal_photos_2 .active, #modal_photos_3 a:hover, #modal_photos_3 .active, #modal_photos_4 a:hover, #modal_photos_4 .active,
#modal_photos_5 a:hover, #modal_photos_5 .active, #modal_photos_6 a:hover, #modal_photos_6 .active, #modal_photos_7 a:hover, #modal_photos_7 .active, #modal_photos_8 a:hover, #modal_photos_8 .active, #modal_photos_9 a:hover, #modal_photos_9 .active, #modal_photos_10 a:hover, #modal_photos_10 .active {
background:url(../images/modal_media_icon12.png) -49px 35px;
}
#view_modal_docs, #modal_docs, #modal_docs1, #modal_docs2, #modal_docs_1, #modal_docs_2, #modal_docs_3, #modal_docs_4, #modal_docs_5, #modal_docs_6, #modal_docs_7, #modal_docs_8, #modal_docs_9, #modal_docs_10 {
	background:url(../images/modal_media_icon12.png) 0 73px;
}
#view_modal_docs a:hover,#view_modal_docs .active, #modal_docs a:hover, #modal_docs .active, #modal_docs1 a:hover, #modal_docs1 .active, #modal_docs2 a:hover, #modal_docs2 .active, #modal_docs_1 a:hover, #modal_docs_1 .active, #modal_docs_2 a:hover, #modal_docs_2 .active, #modal_docs_3 a:hover, #modal_docs_3 .active, #modal_docs_4 a:hover, #modal_docs_4 .active,
#modal_docs_5 a:hover, #modal_docs_5 .active, #modal_docs_6 a:hover, #modal_docs_6 .active, #modal_docs_7 a:hover, #modal_docs_7 .active,  #modal_docs_8 .active, #modal_docs_8 a:hover,  #modal_docs_9 a:hover, #modal_docs_9 .active, #modal_docs_10 a:hover, #modal_docs_10 .active {
background:url(../images/modal_media_icon12.png) -49px 73px;
}
#modal_links, #modal_links_1, #modal_links_2, #modal_links_3, #modal_links_4, #modal_links_5, #modal_links_6, #modal_links_7,#modal_links_8,#modal_links_9,#modal_links_10 {
	background:url(../images/modal_media_icon12.png) 0 111px;
}
#modal_links a:hover, #modal_links .active, #modal_links_1 a:hover, #modal_links_1 .active, #modal_links_2 a:hover, #modal_links_2 .active, #modal_links_3 a:hover, #modal_links_3 .active, #modal_links_4 a:hover, #modal_links_4 .active,
#modal_links_5 a:hover, #modal_links_5 .active, #modal_links_6 a:hover, #modal_links_6 .active, #modal_links_7 a:hover, #modal_links_7 .active, #modal_links_8 a:hover, #modal_links_8 .active, #modal_links_9 a:hover, #modal_links_9 .active, #modal_links_10 a:hover, #modal_links_10 .active {
background:url(../images/modal_media_icon12.png) -49px 111px;
}
/********** Modal Media ICon ************/


#ask_que_inner {
	position:relative;
	margin:50px 10px 0 0;
	height:45px;
	width:250px;
	float:right;
	/*border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	border-top-right-radius:0;
	border-top-left-radius:0;
	-moz-border-top-right-radius:0;
	-o-border-top-left-radius:0;
	background-color: rgba(26, 46, 60, 0.1);*/
}

#loader {
	background:url(../images/indicator-loader.gif) no-repeat;
	line-height:32px;
	padding:8px 0 0 32px;
}
.invalid {
	background:url(images/delete-icon.png) no-repeat;
	margin-right:30px;
	line-height:24px;
	color:#ec3f41;
	/*
	border:1px solid #fff;
	width:50px;*/
}
.valid {
	/*background:url(images/tick-icon.png) no-repeat;*/
	padding-right:30px;
	line-height:24px;
	color:#3a7d34;
}

.validMand {
	background:url(images/tick-icon.png) no-repeat;
	padding-right:30px;
	line-height:24px;
	color:#3a7d34;
}

/********Contact us Page CSS ********/

#invite_poeple, #importEmails, #invite_poeple_sucess, #import_emails_sucess, #import_contacts, #import_contacts_cs, #advanced_contact_search, #send_new_msg , #msg_send_reply, #sendmsg_success
{
	position:relative;
	margin:10px 0 10px 0;
	padding:28px 30px;
	width:620px;
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	background-color:#1b303f;
}
#invite_poeple
{
height:164px;
}
#importEmails
{
height:225px;
}
#invite_poeple p,#importEmails p, #import_contacts p, #import_contacts_cs p, #import_shared_contacts p, #advanced_contact_search p, #send_new_msg p, #msg_send_reply p
{
	color:#a4acb2;
	font-size:16px;
	padding:0 0 8px 0;

}

#invite_poeple input,#importEmails textarea, #advanced_contact_search input, #send_new_msg input, #msg_send_reply input, #send_us_msg input
{
	width:100%;
	padding:5px 0 7px 10px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-o-border-radius: 35px;
	color:#1b303f;
	font-size:14px;
}
#importEmails textarea{
	border-radius: 15px;
	height: 80px;
}
#contact_arrow_down
{
	width:87px;
	height:43px;
	margin:0 auto;
	position:relative;
}
#invite_poeple_sucess, #import_emails_sucess
{
height:97px;

}

#import_contacts
{
height:390px;
}

#import_contacts_cs
{
height:500px;
}

#advanced_contact_search
{
height:364px;

}
#advanced_contact_search input
{
margin-bottom:10px;
}
#advanced_contact_search label , #send_new_msg label, #msg_send_reply label, #send_us_msg label
{
color:#a4acb2;
font-size:16px;
padding:0;
margin:0;
min-height:0;
}


#view_all_contacts
{
	position:relative;
	margin:0 0 30px 0;
	padding:0px 0px;
	width:680px;

}
#view_all_contacts #contact_list th, #group_contacts #contact_list th
{
font:14px/20px 'bariol_boldbold', 'ie8_bariol_bold';
padding:0 0 5px 0;
}
#contactMessageDiv {
margin-top:-20px;
padding:10px 0 20px 195px;
color:black;
}
#contactMessageDiv span {
font-family:'bariol_boldbold', 'ie8_bariol_bold';
}
#group_contacts #contact_list tr td
{
font:12px/18px 'bariol_regularregular', 'ie8_bariol_regular';
padding:5px;
border-bottom:1px solid #aeaead;
/*text-align:center;*/
}

#share_contacts #contact_list tr td
{
font:12px/18px 'bariol_regularregular', 'ie8_bariol_regular';
padding:5px;
border-bottom:1px solid #aeaead;
/*text-align:center;*/
}
#view_all_contacts #contact_list tr td
{
	padding:10px 5px;
	border-bottom:1px solid #aeaead;
}
.picture_border
{
	border:1px solid #1b303f;
}
#contact_list a
{
	color:#1b303f;
	text-decoration:none;
}
#contact_list a:hover
{
	color:#c2002d;
	text-decoration:none;
}
#contact_list tbody tr:hover td
{
	background: rgba(255,255,255, 0.3);
}
#contact_details, #edit_delete_groups, #group_details
{
	
	padding:20px 10px;
	width:660px;
	border:2px #fff solid;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
    background: rgba(27, 48, 63, 1.0);
	font:14px/18px 'bariol_regularregular', 'ie8_bariol_regular';
	color:#fff;
	
}

.select_all
{
	background:rgba(255,255,255,0.5);
	font:14px/18px 'bariol_regularregular', 'ie8_bariol_regular';
	border-top:1px solid #aeaead;
}

#edit_delete_contacts
{
height:160px;
}
.real_name
{
font:18px/20px 'bariol_boldbold', 'ie8_bariol_bold';
color:#cfff00;
padding-bottom:10px;

}
.contact_icons
{

width:620px;
margin:10px auto 0 auto;
list-style:none;
height:15px;
font:13px 'bariol_regularregular', 'ie8_bariol_regular';
color:#cfff00;
text-decoration:none;


}
.contact_icons a
{

font:13px 'bariol_regularregular', 'ie8_bariol_regular';
color:#cfff00;
text-decoration:none;
margin:0 5px;

}

.contact_icons a:hover
{
text-decoration:underline;
}
.contact_icons .edit
{
background:url(../images/contacts_icons_edit.png) 0 0 no-repeat;
padding:0 0 0 25px;


}

.contact_icons .delete
{
padding:0 0 0 25px;
background:url(../images/contacts_icons_delete.png) 0 0 no-repeat;
}
.contact_icons .invite
{
padding:0 0 0 30px;
background:url(../images/contacts_icons_invite.png) 0 2px no-repeat;
}
.green_hline
{
border-bottom:1px #cfff00 solid;
}

.join_this_group, .join_this_group a
{
font:10px 'bariol_regularregular', 'ie8_bariol_regular';
color:#cfff00;
}
.contact_username, .today_opinion, .group_desc
{
 color:#cfff00;
}
/********Contact us Page CSS Ends*******/

/********Groups Page CSS Start********/
#select_a_group, #add_contacts_to_group, #create_a_group, #group_name
{
	position:relative;
	background:rgba(255, 255, 255, 0.3) url(../images/ask_bg.png) repeat-x bottom;
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	margin-bottom:10px;
}
#select_a_group
{
	height:87px;
	width:635px;
	padding:28px 17px 25px 28px;
}
#select_a_group input, #create_a_group input, #create_a_group textarea
{
    width:464px;
    border: 1px solid #9DA6AC;
    border-radius: 35px;
    color: #1B303F;
    float:right;
    font-size: 18px;
    margin: 5px 0 7px;
    padding: 5px 10px;
}

#create_a_group textarea {
height:100px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-o-border-radius: 10px;
}

#add_contacts_to_group
{
background:rgba(0, 0, 0, 0.12) url(../images/group_top_bg.png)repeat-x top;
	float:left;
	width:680px;
	padding:28px 0;
}
#group_contacts
{
padding-left:10px;
width:410px;
/*height:270px;*/
/*overflow:scroll;*/
float:left;
}

#share_contacts
{
/*border:1px solid red;	*/
padding-left:5px;
width:380px;
float:left;
}

#add_selected_contacts
{

	background:#1b303f;
	margin:70px 25px 0 auto;
	width:160px;
	height:100px;
	padding:20px;
	font:16px 'bariol_regularregular', 'ie8_bariol_regular';
	color:#fff;
	float:right;
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
}
#create_a_group
{
	padding:28px 17px 25px 28px;
	height:257px;

}
#create_a_group
{
background:rgba(0, 0, 0, 0.12) url(../images/group_top_bg.png)repeat-x top;
}

.edit_blue
{
background:url(../images/edit_blue.png) 0 0 no-repeat;
padding:0 0 0 20px;
}

.delete_blue
{
padding:0 0 0 20px;
background:url(../images/delete_blue.png) 0 0 no-repeat;
}
.invite_blue
{
padding:0 0 0 25px;
background:url(../images/invite_blue.png) 0 2px no-repeat;
}

 #group_name
 {
 background:rgba(0, 0, 0, 0.12) url(../images/group_top_bg.png)repeat-x top;
 height:163px;
 padding:28px 17px 25px 28px;
 }
/********Groups Page CSS Ends********/

#send_new_msg
{
height:295px;
}
#send_new_msg textarea, #msg_send_reply textarea
{
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	font-size:14px;
	resize: none;
	color:#1B303F;
	border:1px solid #AEAEAD;
	padding:10px;
	width:97%;
	box-shadow:none;
	background:#fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
 	-o-border-radius: 10px;
 	min-height:90px;
	overflow: auto;
}

#all_messages
{
margin:20px 0 0 0;
width:680px;
}
#all_messages a
{
color:#1b303f;
text-decoration:none;
    cursor: pointer;
}
#all_messages a:hover
{
color:#ff0000;
text-decoration:none;

}
#msg_contact_name
{
width:680px;
margin-bottom:30px;
}

#msg_send_reply
{
width:568px;
height:220px;
margin-left:50px;
}

.msg_delete_confirm {
	width: 145px;
	height: 85px;
	line-height: 20px;
	padding: 15px;
    top:22px;
    left: 34px;
	font-size: 14px;
	color: #1B303F;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);*/
	background: rgb(255,255,255);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	position: relative;
	box-shadow: 2px 3px 10px rgba(0,0,0,0.9);

	margin:-58px;
	z-index:100;
}

.msg_delete_confirm a {
  font:16px 'bariol_regularregular', 'ie8_bariol_regular';
  color: #1B303F;
  padding:5px 0 0 0;
}

.msg_delete_confirm a:hover {
  color: #ff0000;
}

.nodisplay {
  display:none;
}

.my_poll
{
margin:20px 0 0 0;
width:680px;
}
.my_poll a
{
color:#1b303f;
text-decoration:none;
}
.my_poll a:hover
{
color:#ff0000;
text-decoration:none;
}
/***************** Edit Profile Start **********************/
#edit_profile, #edit_profile_setup
{
	position:relative;
	margin:20px 0 10px 0;
	width:680px;
}
#edit_profile input, #edit_profile textarea, #edit_profile_setup input, #edit_profile_setup textarea, #redeem_price input, #redeem_price textarea
{
	width:90%;
	padding:5px 10px;
	margin:5px 0 7px 0;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-o-border-radius: 35px;
	color:#1B303F;
	font-size:18px;
	/*float:right;*/
	border:1px solid #9DA6AC;
	/*overflow: auto;*/
}
/*#edit_profile_setup radio
{
border:1px solid #9DA6AC;
}*/
#edit_profile textarea, #edit_profile_setup textarea, #redeem_price textarea
{
	height:80px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-o-border-radius: 15px;
	overflow: auto;
	
}
.readonly_input
{
background:rgba(255, 255, 255, 0.5);
/*border:0px rgba(255, 255, 255, 0.3) solid;*/
}
#edit_profile label, #edit_profile_setup label, #redeem_price label, #my_price_tag_payouts label
{
/*color:#a4acb2;*/
font-size:18px;
padding:0;
margin:0;
min-height:0;
}

#edit_profile_setup p.error, #edit_profile_setup label.error
{
    font:14px/20px 'bariol_regularregular', 'ie8_bariol_regular';
    color: #C2002D;
	/*    padding-bottom: 10px;*/
    font-style: normal;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}

/*#edit_profile .heading4
{
padding-bottom:25px;
}*/
#edit_profile p, #edit_profile_setup p
{
font:14px 'bariol_regularregular', 'ie8_bariol_regular';
padding-bottom:7px;
}
#edit_profile .font_16px a, #edit_profile_setup .font_16px a
{
color: #C2002D;
}
#edit_profile .font_16px a:hover, #edit_profile_setup .font_16px a:hover
{
color: #ff0000;
}
.view_my_profile, .view_my_profile a
{
font:16px 'bariol_regularregular', 'ie8_bariol_regular';
color: #1b303f;
}
.view_my_profile a:hover
{
color: #ff0000;
}
#profile_picture, #profile_name, #profile_location, #more_abt_me, #wht_i_like, #change_password
{
padding:0 0 25px 0;
margin-bottom:25px;
border-bottom:1px solid rgba(27, 48, 63, 0.3);
}
#profile_picture .edit
{
background:url(../images/mobile_no_edit.png) 10px 15px no-repeat;
padding:15px 0 0 30px;
cursor:hand;
float:right;
}
#profile_name .edit
{
background:url(../images/mobile_no_edit.png) 10px 15px no-repeat;
padding:15px 0 0 30px;
cursor:hand;
float:right;
}
#profile_location
{
border-bottom:0px solid rgba(27, 48, 63, 0.3);
}

/***************** Edit Profile Ends **********************/


/***************** edit_profile_setup starts**************/
#edit_profile_setup a
{
color:#1b303f;
}

#edit_profile_setup a:hover
{
color:#c2002d;
}
.save_check
{
background:url(../images/check_save.png) no-repeat;
padding:0 0 0 20px;
float:right;
}
#more_abt_me .edit
{
background:url(../images/mobile_no_edit.png) 10px 15px no-repeat;
padding:15px 0 0 30px;
cursor:hand;
float:right;
}


#wht_i_like
{
position:relative;
border-bottom:none;
}

#choice_list
{
position:relative;
margin:20px 0 20px 0px;
}
#choice_list li {
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
/*	position:absolute;
	top:0;*/
}
#choice_list li a {
width:170px;
display:block;
height:31px;
background:#ffffff url(../images/category_icon.png) 0 0 no-repeat;
margin-bottom:10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-o-border-radius: 20px;
	padding:0 0 0 40px;
	color: #878787;
	font:15px 'bariol_regularregular', 'ie8_bariol_regular';
	line-height:31px;
}
#choice_list li a:hover, #choice_list li .active1
{
color:#1b303f;
background:#cfff00 url(../images/category_icon_hover.png) 0 0 no-repeat;
}
#choice_list li span
{
	background:url(../images/plus_check_icon.png) right top no-repeat;
	width:15px;
	height:15px;
	display:block;
	margin:0;
	padding:0;
	position:absolute;
	left: 185px;
	top: 10px;
}

#choice_list li:hover span, #choice_list li span.active
{
background:url(../images/plus_check_icon.png) 0 -21px no-repeat;
}

#choice_list li .music_choice {
	
	background-position:10px 5px;
}
#choice_list li:hover .music_choice{
	background-position:10px 5px;
}
#choice_list li .sports_choice {
	background-position:10px -35px;
}
#choice_list li:hover .sports_choice
{
background-position: 10px -35px;
}
#choice_list li .religion_choice {
	background-position: 10px -77px;
}
#choice_list li:hover .religion_choice  {
	background-position: 10px -77px;
}
#choice_list li .politics_choice {
	background-position: 10px -118px;
}
#choice_list li:hover .politics_choice{
	background-position: 10px -118px;
}
#choice_list li .community_choice {
	background-position: 10px -160px;
}
#choice_list li:hover .community_choice{
	background-position: 10px -160px;
}
#choice_list li .relationships_choice {
	background-position: 10px -201px;
}
#choice_list li:hover .relationships_choice {
	background-position: 10px -201px;
}
#choice_list li .work_related_choice {
	background-position: 10px -245px;
}
#choice_list li:hover .work_related_choice{
	background-position: 10px -245px;
}
#choice_list li .shopping_choice {
	background-position: 10px -286px;
}
#choice_list li:hover .shopping_choice{
	background-position: 10px -286px;
}
#choice_list li .health_medical_choice {
	background-position: 10px -328px;
}
#choice_list li:hover .health_medical_choice {
	background-position: 10px -328px;
}
#choice_list li .fitness_beauty_choice {
	background-position: 10px -370px;
}
#choice_list li:hover .fitness_beauty_choice {
	background-position: 10px -370px;
}
#choice_list li .travel_choice {
	background-position: 10px -410px;
}
#choice_list li:hover .travel_choice{
	background-position: 10px -410px;
}
#choice_list li .food_drink_choice {
	background-position: 10px -452px;
}
#choice_list li:hover .food_drink_choice {
	background-position: 10px -452px;
}
#choice_list li .motoring_choice {
	background-position: 10px -492px;
}
#choice_list li:hover .motoring_choice {
	background-position: 10px -492px;
}

#choice_list li .computer_internet_choice {
	background-position: 10px -533px;
}
#choice_list li:hover .computer_internet_choice{
	background-position: 10px -533px;
}
#choice_list li .entertainment_choice {
	background-position: 10px -575px;
}
#choice_list li:hover .entertainment_choice {
	background-position: 10px -575px;
}
#choice_list li .other_choice {
	background-position: 10px -617px;
}

#choice_list li:hover .other_choice{
	background-position: 10px -617px;
}
/***************** edit_profile_setup Ends**************/
.example
{
	padding:20px 0 10px 0px;
	color: #878787;
	font:12px 'bariol_regularregular', 'ie8_bariol_regular';
}
#page_name_state2 input, #page_name_state3 input
{
	width:90%;
	padding:5px 10px;
	margin:5px 0 7px 0;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-o-border-radius: 35px;
	color:#1B303F;
	font-size:18px;
	border:0;
	background:#cfff00 url(../images/plus_check_icon.png) 265px -13px no-repeat;
}
#page_name_state3 input
{
background:#c2002d url(../images/close_wht.png) 265px 7px no-repeat;
color:#fff;
}

.poll_setting
{
font:20px 'bariol_regularregular', 'ie8_bariol_regular';
border-bottom:1px solid #a3a3a1;
padding:20px 0;

}
.disabled_radio_button
{
font:20px 'bariol_regularregular', 'ie8_bariol_regular';
border-bottom:1px solid #a3a3a1;
padding:20px 0;
}
.disabled_radio_button span
{
font:14px 'bariol_regularregular', 'ie8_bariol_regular';
float:right;
padding:-5px;
}
.poll_setting span
{
font:14px 'bariol_regularregular', 'ie8_bariol_regular';
float:right;
padding:-5px;
}


.current_rating
{
	width:340px;
	padding:8px 15px;
	margin:0px 0 7px 0;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-o-border-radius: 35px;
	color:#fff;
	font-size:18px;
	border:0;
	background:rgba(0, 0, 0, 0.15);
	float:right;
}
.current_rating span
{
color:#cfff00;
padding:0 10px 0 5px;
}

.price_tag_polling
{
padding:30px 0 0 0;
border-bottom:1px solid #a3a3a1;
}
.price_tag_polling a 
{
	color:#fff;
}
.price_tag_polling a:hover
{
	color:#cfff00;
}
#email_notification, #upgrade_acc
{
padding:30px 0 0 0;
}

/***** my_price_tag_payouts **********/
.inner_links
{
color:#1b303f;
}
.inner_links:hover
{
color:#c2002d;
}
.date_input
{
	width:105px;
	padding:5px 10px;
	margin:5px 0 7px 0;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-o-border-radius: 35px;
	color:#1B303F;
	font-size:18px;
	/*float:right;*/
	border:1px solid #9DA6AC;
	text-align:center;
}

#redeem_payouts
{
	padding:0px 0 25px 0;
	border-bottom:1px solid rgba(27, 48, 63, 0.3);
}

.payout_table
{
	font-size:16px;
	margin:15px 0;
}
.payout_table td
{
	padding:20px ;
	border-bottom:1px solid #d1d6d9;
	background:#fff;
}
.payout_table .last
{
	padding:20px ;
	border-bottom:0px solid #d1d6d9;
}
.payout_table th
{
	font:20px 'bariol_regularregular', 'ie8_bariol_regular';
	background:rgba(27, 43, 63, 0.2);
	padding:12px 20px;
	border-bottom:1px solid #959b9d;
	text-align:left;

}
.payout_table th a
{
	color:#1b303f;
}
.payout_table th a:hover
{
	color:#c2002d;
	background-image:url(../images/select_arrow.png);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:16px;
}
table.payout_table tr:first-child th:first-child {
	border-top-left-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-top-left-radius: 20px;
}
table.payout_table tr:first-child th:last-child {
	border-top-right-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-top-right-radius: 20px;
}
table.payout_table tr:last-child td:first-child {
	border-bottom-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-bottom-left-radius: 20px;
}
table.payout_table tr:last-child td:last-child {
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

#logo_photos_small {
	left:23px;
	width:24px;
	background:url(../images/media_icons_small.png) -23px 0;
}
#logo_photos_small a:hover
{
	background:url(../images/media_icons_small.png) -23px -25px;
}

/***** Dahsboard start***********/
.view_text
{
	font:14px 'bariol_regularregular', 'ie8_bariol_regular';
	color:#aba9a6;
	padding:0 5px 0 0;
}
.view_icon {
	display:block;
	width:23px;
	height:34px;
	background:url(../images/view_icon.png) no-repeat 0px 0px;
}
.view_icon:hover
{
background:url(../images/view_icon.png) no-repeat 0px -36px;
}

.review_view_icon {
	display:block;
	width:32px;
	height:33px;
	background:url(../images/review_view_icon.png) no-repeat 0px 10px;
}
.review_view_icon:hover, .review_view_icon.active
{
	background:url(../images/review_view_icon.png) no-repeat 0px -22px;
}
.review_poll
{
	font:14px 'bariol_regularregular', 'ie8_bariol_regular';
}
.review_poll table td
{

	padding:5px 0;
}
.review_poll tbody tr:hover td, .review_poll tbody tr.active td
{
	background: rgb(255,255,255);
}

#common_effects
{

	background: rgba(0,0,0, 0.3);
	margin:10px  auto 0 auto;
	padding:25px 17px;
	width:916px;
	/*height:450px;*/
	font:16px 'bariol_regularregular', 'ie8_bariol_regular';
	color:#fff;
	
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
}

/***** Dahsboard end***********/
.vote_completed {
	width:85px;
	display:block;
    background: rgba(157, 166, 172, 1.0);
	/*background:#9da6ac;*/
	margin:10px auto 0 auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-o-border-radius: 20px;
	padding:0 6px;
	color: #fff;
	font:15px 'bariol_regularregular', 'ie8_bariol_regular';
	line-height:25px;
	text-align:center;
	margin-right:-17px;
}
.vote_icon
{
	background:url(../images/vote_completed.png) no-repeat;
	width:25px;
	height:25px;
	float:left;
	margin-left:85px;
	margin-top:9px;
}
.trash_icon
{
	background:url(../images/trash-icon.png) no-repeat;
	width:25px;
	height:25px;
	float:left;
	margin-left:85px;
	margin-top:11px;
}
/*************Group Icon ***************/
.public, .private, .open
{
	background:url(../images/group_icons.png)0 0;
	width:20px;
	height:20px;
	cursor: pointer;
	display:block;
	margin:0 0 5px 0;
	}

.private{
background:url(../images/group_icons.png)0 -22px;
}

.open{
background:url(../images/group_icons.png)0 -45px;
}

/*************Group Icon ***************/

/************* Contact us ***************/
.rounded_35
{

	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-o-border-radius: 35px;
	background:rgba(255,255,255,0.3);
	padding:5px 25px 20px 25px;
	margin-bottom:10px;

}
.telephone_number
{
	background:rgba(0,0,0,0.1);
	font:bold 28px/28px 'bariol_boldbold', 'ie8_bariol_bold';
	color: #1b4d5f;
	padding:13px 25px;
	
}
.telephone_number span
{
	color: #CFFF00;
	text-shadow:0px 1px rgba(0,0,0,0.5);
	padding-left:10px;
	font:bold 34px/34px 'bariol_boldbold', 'ie8_bariol_bold';
}

.address
{
	position:relative;
	width:540px;

}
.emailus
{
	width:22px;
	height:15px;
	margin:7px 5px 0 -7px;

}

.company_detail
{
	width:190px;
}
.social_network
{
	width:310px;
	margin-left:10px;
	padding:5px 15px 15px 15px;
}

#send_us_msg
{
	background:#1B303F;
	padding-top:30px;
	padding-bottom:10px;
}
#send_us_msg input
{
	width:95%;
	margin-bottom:10px;
}
#send_us_msg textarea
{
	height:205px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-o-border-radius: 10px;
	width:92%;
	color:#1B303F;
	overflow: auto;
}
.send_message
{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-o-border-radius: 20px;
	margin:-38px 10px 0 135px; 
	width:150px; 
	background:#1B303F;
	padding:13px;
	position:relative;
}
.signup_button
{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius:50px;
	-o-border-radius: 50px;
	width:300px; 
	margin:20px auto 0 auto;
	background:rgba(0,0,0,0.1);
	padding:15px;

}
/************* Contact us ***************/