@charset "utf-8";
/* CSS Document */

#gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 670px;
    /*background: url(../images/top-shadow.png) repeat-x;*/
}
#bottom_shadow {
	display:block;
	height:45px;
	position:relative;
    background:url(../images/ie_img/bottom_shadow_img.png) repeat;
}
#que_inner {
	margin:30px auto 0 auto;
	width:950px;
	/*height:90px;*/
    background:url(../images/ie_img/que_inner.png) no-repeat;
    background-position:bottom;
}

#myTextarea2 {
	font-size:24px;
	line-height:24px;
	width:518px;
	border:none;
	resize:none;
	background:url(../images/ie_img/my_textarea_bg1.png) no-repeat;
    margin:10px 20px 0px 20px;
    padding: 0px;
    padding: 20px 25px 20px 25px;



}
#buttonaria_red, #buttonaria_signup {
	/*width:290px;*/
	background-color: rgba(26, 46, 60, 0.1);
	float:right;
	margin:10px 20px 0px 0px;
	margin-top:10px;
}
#buttonaria_signup {
	float:none;
	margin:60px auto;
}


#loginButton1 { 
	margin:0 4px 0 0 ;
	padding: 0px 12px;
    display:inline-block;
    float:right;
    position:relative;
    z-index:30;
    cursor:pointer;
	height:28px;
	text-decoration: none;
	position:relative;
	font-size:12px;
	line-height:25px;
	background:url(../images/ie_img/loginButton1.png) no-repeat;
}

#loginButton1:hover {
	background:url(../images/ie_img/loginButton1_hover.png) no-repeat;
}
#loginButton1.active {
    background:url(../images/ie_img/loginButton1_hover.png) no-repeat;
}
#loginButton1.active span {
    background: none;
}
#loginButton { 
    display:inline-block;
    float:right;
    position:relative;
    z-index:30;
    cursor:pointer;
	padding: 0 0px 0 5px;
	height:28px;
	text-decoration: none;
	position:relative;
	font-size:12px;
	line-height:25px;
    width: 129px;
	background:url(../images/ie_img/loginIcon.png) no-repeat !important;
}

#loginButton:hover {
	background:url(../images/ie_img/loginIcon_hover.png) no-repeat !important;
}

#loginButton.active {
    background:url(../images/ie_img/loginIcon_hover.png) no-repeat;
}

#loginButton.active span {
   background: none;
}

#main_content {
    position:relative;
    margin-top: 71px;
}
ul.navigation {
    font:22px/22px 'bariol_regularregular', 'ie8_bariol_regular';
    list-style: none;
    padding:27px 0px;
    background:url(../images/ie_img/navigation_bg.png) no-repeat;
}

ul.navigation a{
    padding:22px 57px;
    color: #1b4d5f;
    text-decoration: none;
    border-right:1px solid #869ca7;
    margin:0;
}
ul.navigation a.last11
{
    border-right:none;
}
.scroll {
    height: 360px;
    width: 950px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    /*	padding:0  70px;*/
    clear: left;
    background:rgba(0,0,0,0.1);
    border-radius:35px;
    background:url(../images/ie_img/navigation_scrolling_bg.png) no-repeat;
}
.signup_button
{
    width:300px;
    margin:20px auto 0 auto;
    padding:15px;
    background:url(../images/ie_img/sign_up_now_bg.png) no-repeat;
}
span.title_green_big
{
    color:#fff;
    width:100%;
    font-size:24px;
    line-height:28px;
    padding:10px 0px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:0.02em;
    display:block;
    position:relative;
    z-index:5;
}
.signup_button:hover{
    background:url(../images/ie_img/sign_up_now_bg_hover.png) no-repeat;
}
#loginForm {
    margin-top:-1px;
    width: 246px;
    height: 260px;
    padding: 20px;
   background:url(../images/ie_img/login_form_bg.png) no-repeat ;

}
#loginForm input, #signUpForm input {
    margin:10px 0 0 0;
    box-shadow:none;
    border: none;
    width:92%;
    font:14px/15px 'bariol_regularregular', 'ie8_bariol_regular';
    color:#000;
    padding:10px 8px;
    background:url(../images/ie_img/login_form_input_bg.png) no-repeat ;
}
#innerlogin .button, .button {
    font:bold 13px/17px 'bariol_boldbold', 'ie8_bariol_bold';
    height: 31px;
    cursor: pointer;
    color: #fff;
    border:0;
    padding: 8px 18px 8px 20px;
    background:url(../images/ie_img/login_form_input_signup.png) no-repeat ;

}
#innerlogin .button:hover, .button:hover {
    background:url(../images/ie_img/login_form_input_signup_hover.png) no-repeat ;
}

#loginFormSN {
    margin-top:-1px;
    width: 246px;
    padding: 20px;
    background:url(../images/ie_img/login_form_bg.png) no-repeat ;

    height: 215px;
    }
#loginBox button {
    margin: 15px 0 0 0;
    padding: 0px 5px;
    width: 244px;
    height:38px;
    cursor: pointer;
    color: #1b303f;
    font: bold 16px/28px 'bariol_boldbold', 'ie8_bariol_bold';
    text-align:left;
    background:url(../images/ie_img/login_box_bot_bg.png) no-repeat ;
}
#loginBox button:hover {
    background:url(../images/ie_img/login_box_bot_bg_hover.png) no-repeat ;
}
#loginFormSN input, #signUpForm input {
    margin:10px 0 0 0;
    box-shadow:none;
    background:#fff;
    width:92%;
    font:12px/15px 'bariol_regularregular', 'ie8_bariol_regular';
    color:#76838c;
    padding:10px 11px;
    background:url(../images/ie_img/signup_from_input_bg.png) no-repeat ;
    }
#signUpForm {
    margin-top:-1px;
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    width: 280px;
    padding: 20px;
    height: 306px;
    background:url(../images/ie_img/signup_from_bg.png) no-repeat ;
}
#signupbtn .button {
    font:bold 13px/17px 'bariol_boldbold', 'ie8_bariol_bold';
    height: 31px;
    cursor: pointer;
    color: #fff;
    border:0;
    padding: 8px 18px 8px 20px;
    background:url(../images/ie_img/signup_form_input_signup.png) no-repeat ;

}
#signupbtn .button:hover {
    background:url(../images/ie_img/signup_form_input_signup_hover.png) no-repeat ;
}
#choose_your_answers_heading
{
    width:916px;
    padding:25px 17px;
    position:relative;
    background:url(../images/ie_img/choose_ur_answer_heading_bg.png) no-repeat !important ;
}
#choose_your_answers
 {
     background:url(../images/ie_img/choose_ur_answer.png) no-repeat ;
    height:159px;
 }
#reset_password_bg
{
    background:url(../images/ie_img/reset_password_ie8_bg.png) no-repeat ;
    height:240px;
}
#choose_your_answers_login
{
    background:url(../images/ie_img/choose_your_answers_login_bg.png) no-repeat ;
    height: 116px;
}
#createacct_form input {
    margin:0 0 10px 40px;
    font:16px/18px 'bariol_regularregular', 'ie8_bariol_regular';
    padding:6px 15px 10px 15px;
    width:400px;
    background:url(../images/ie_img/createacct_form_input_bg.png) no-repeat ;
    border: none;
}
#term_settings
{
    background:url(../images/ie_img/choose_ur_answer_heading_bg.png) no-repeat ;
    height:121px;
    padding:0;
    padding-top:25px;
    width:950px;
    margin-top: 17px;
}
#term_settings_left
{
    background:url(../images/ie_img/term_setting_left_bg.png) no-repeat ;
    height:48px;
    float:left;
    width:585px;
    padding:30px 20px 0 35px;
    margin-top: 8px;
}
#term_settings_right
{
    background:url(../images/ie_img/term_setting_right_bg.png) no-repeat ;
    height:54px;
    float:right;
    width:301px;
    margin-left:9px;
    margin-top: 8px;
}
#askyour_que_btn
{
    width:271px;
    float:right;
    height:50px;
    padding-top:10px;
    margin-bottom:30px;
    margin-top: 17px;
    background:url(../images/ie_img/create_acc_bot.png) no-repeat ;
}
#askyour_que_btn:hover
{
    background:url(../images/ie_img/creat_acc_bot_hover.png) no-repeat ;
}
.button_red {
    position:relative;
    padding:5px;
    margin:0 auto;
    width:100%;
    height:28px;
    display:block;
    text-decoration:none;
    text-transform:uppercase;
    cursor:pointer;
    background: none;
}
#read_terms_txt {

    display:none;
    left:50%;
    margin-left:-484px;
    position:absolute;
    top:86px;
    width:970px;
    height:300px;
    z-index:9999;
    background:url(../images/ie_img/read_terms_bg.png) no-repeat ;

}
.telephone_number
{
    background:rgba(0,0,0,0.1);
    font:bold 28px/28px 'bariol_boldbold', 'ie8_bariol_bold';
    color: #1b4d5f;
    padding:13px 25px;
    background:url(../images/ie_img/rounded_35.png) no-repeat ;
}
.address
{
    position:relative;
    width:540px;
    background:url(../images/ie_img/contact_address_bg.png) no-repeat ;
}
.company_detail
{
    width:190px;
    background:url(../images/ie_img/contact_company_details_bg.png) no-repeat ;
}
.social_network
{
    width:310px;
    margin-left:10px;
    padding:5px 15px 15px 15px;
    background:url(../images/ie_img/contact_social_bg.png) no-repeat ;
}
#send_us_msg
{
    background:#1B303F;
    padding-top:30px;
    padding-bottom:10px;
    height: 508px;
    background:url(../images/ie_img/contact_send_bg.png) no-repeat ;
}
#send_us_msg input
{
    width:100%;
    margin-bottom:0px;
    background:url(../images/ie_img/send_input_bg.png) no-repeat ;
    border: none;
    height: 32px;
}
#send_us_msg textarea
{
    height:205px;
    width:92%;
    color:#1B303F;
    overflow: auto;
    background:url(../images/ie_img/send_textarea_bg.png) no-repeat ;
}
.send_message
{

    margin:-38px 10px 0 135px;
    width:150px;
    background:#1B303F;
    padding:13px;
    position:relative;
    background:url(../images/ie_img/send_msg_bg.png) no-repeat ;
}
span.title_gray, span.title_gray1, span.title_green, span.title_green1 {
    color:#fff;
    width:158px;
    height:31px;
    font-size:16px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/contact_send_bot.png) no-repeat ;
}
.button_green:hover span.title_green, .button_green1:hover span.title_green1
{
    background:url(../images/ie_img/contact_send_bot_hover.png) no-repeat ;
}

span.title_green1{
    color:#fff;
    width:103px;
    height: 31px;
    font-size:16px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/invite_people_bot_bg.png) no-repeat ;
}
.button_green1:hover span.title_green1{
    background:url(../images/ie_img/invite_people_bot_bg_hover.png) no-repeat ;
}
#slider_cookie_part{
    width: 944px;
    height: 495px;
    float: left;
    background:url(../images/ie_img/slider_bg_ie.png) no-repeat ;
    border: none;
}

#welcome_user {
    margin:6px auto 0 auto !important;
    padding:8px 20px 0 20px;
    height:36px;
    width:640px;
    float:right;
    background-color: rgba(255, 255, 255, 0.3);
    background:url(../images/ie_img/dash_page_welcome_user_bg.png) no-repeat !important ;
}

#top_search{
    margin:0 0 0 0;
    box-shadow:none;
    width:169px;
    font:14px/15px 'bariol_regularregular', 'ie8_bariol_regular';
    color:#a4acb2;
    padding:3px 8px;
    background:url(../images/ie_img/dash_page_search_bg.png) no-repeat ;
    height: 19px;
}

#searchbox {
    position:relative;
    margin:0 auto;
    width:657px;
    height:40px;
    line-height:40px;
    display:block;
    text-decoration:none;
    margin-bottom:30px;
    padding: 0px 5px 0 18px;
    background: rgba(0, 0, 0, .1);
    font-size:16px;
    background:url(../images/ie_img/dash_page_advance_search_bg.png) no-repeat !important;
}

.openmessage { /*class added to contents when they are open*/
    color: #1b303f;
    background:url(../images/ie_img/msg_box_bg.png) repeat ;
}

.message_detail {
    padding:0 200px 10px 10px;
    border-bottom:1px #aeaead solid;
    border-top:0;
    /*	margin-top:-1px;*/
    font-size:13px;
    font-family: 'bariol_regularregular', 'ie8_bariol_regular';
    font-weight:normal;
    line-height:18px;
    background:url(../images/ie_img/msg_box_bg.png) repeat ;
}

#send_new_msg {
    height:295px;
    background:url(../images/ie_img/send_new_msg_bg.png) no-repeat ;
}

#invite_poeple input, #importEmails input, #send_new_msg input, #msg_send_reply input, #send_us_msg input {
    width:100%;
    padding:5px 3px 10px 10px;
    color:#1b303f;
    font-size:14px;
    background:url(../images/ie_img/send_new_msg_input_bg.png) no-repeat ;
}

#advanced_contact_search input {
    width:100%;
    padding:5px 3px 10px 10px;
    color:#1b303f;
    font-size:14px;
    background:url(../images/ie_img/send_new_msg_input_bg.png) no-repeat ;
}

#send_new_msg textarea {
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    font-size:14px;
    resize: none;
    color:#1B303F;
    padding:10px;
    width:100%;
    box-shadow:none;
    border: none;
    min-height:90px;
    overflow: auto;
    background:url(../images/ie_img/send_new_msg_textarea_bg.png) no-repeat ;
}

#invite_poeple, #importEmails {
    background:url(../images/ie_img/invite_people_bg.png) no-repeat ;
    height:164px;
   width: 623px;
}

#import_contacts {
    height:267px;
    background:url(../images/ie_img/important_contact_bg.png) no-repeat ;
    width: 623px;
}

#advanced_contact_search {
    height:364px;
    background:url(../images/ie_img/advance_search_bg.png) no-repeat ;
    width: 623px;
}
.advanced_contact_search_input {

    padding:5px 3px 10px 10px;
    color:#1b303f;
    font-size:14px;
    background:url(../images/ie_img/advance_search_input_bg.png) no-repeat !important;
}
#create_a_group
{
    background:url(../images/ie_img/create_a_group.png) no-repeat;
}
#select_a_group input, #create_a_group input, #create_a_group textarea
{
    width:464px;
    padding:5px 0 10px 10px;
    margin-top:10px;
    color:#1b303f;
    font-size:17px;
    float:right;
    overflow: auto;
    background:url(../images/ie_img/create_group_input_bg.png) no-repeat;
}
#create_a_group textarea
{
    height:100px;
    background:url(../images/ie_img/create_group_textarea_bg.png) no-repeat;
}
#add_contacts_to_group
{
    background:url(../images/ie_img/add_contact_to_group_bg.png) no-repeat;
    float:left;
    width:680px;
    padding:28px 0;
}
#add_selected_contacts
{


    margin:70px 25px 0 auto;
    width:160px;
    height:103px;
    padding:20px;
    font:16px 'bariol_regularregular', 'ie8_bariol_regular';
    color:#fff;
    float:right;
    background:url(../images/ie_img/add_selected_bg.png) no-repeat;
}
#advanced_searchbox {
    position:relative;
    margin:0 auto;
    width:680px;
    height:75px;
    padding: 0px;
    display:block;
    text-decoration:none;
    margin-bottom:30px;
    background: rgba(0, 0, 0, .1);
    background:url(../images/ie_img/advance_search_box_bg.png) no-repeat;

}
span.title_greenie8{
    color:#fff;
    width:163px;
    height: 31px;
    font-size:16px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/add_to_group_bot_bg.png) no-repeat !important ;
}
#ask_que_category
{
    width:916px;
    padding:25px 17px;
    position:relative;
    background:url(../images/ie_img/ask_que_category_up_bg.png) no-repeat ;
}

#categories_container
{
    background:url(../images/ie_img/ask_que_category_down_bg.png) no-repeat ;
}
#typeyourquestion
{
    padding: 5px 33px 8px 30px;
    width:627px;
    height:auto;
    display:inline-block;
    border:none;
    /*z-index:999;*/
    background:url(../images/ie_img/typeyourquestion_bg.png) no-repeat ;

}
#myTextarea3 {
    font-size:20px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    color: #1b4d5f;
    width:100%;
    border:0;
    line-height:18px;
    margin:0;
    padding:10px 0 0 0;
    vertical-align:top;
    border-radius:0;
    resize:none;
    overflow-y: auto;
}
#add_media1
{
    position:relative;
    margin:0 auto 0px auto;
    width:916px;
    background:url(../images/ie_img/add_media-bg.png) no-repeat ;
}
#choose_your_answers_new
{
    background:url(../images/ie_img/write_ur_ans_bg.png) no-repeat ;
    background: #cac8c6;
     }
#poll_settings
{
    background:url(../images/ie_img/poll_settings_bg.png) no-repeat ;
    height:131px;
    padding:0;
    padding-top:30px;
    width:950px;
}
#poll_settings_left
{
    background:url(../images/ie_img/poll_settings_left_bg.png) no-repeat ;
    height:48px;
    float:left;
    width:400px;
    padding:30px 20px 0 20px;
}
#poll_settings_right
{
    background:url(../images/ie_img/poll_settings_right_bg.png) no-repeat ;
    height:78px;
    float:right;
    width:461px;
    margin-left:9px;
    padding:0 20px;
}

span.title_gray3{
    color:#fff;
    font-size:16px;
    line-height:40px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    background:url(../images/ie_img/poll_settings_bot.png) no-repeat ;
    width:125px;
    height: 42px;
}
span.title_gray3:hover{
    background:url(../images/ie_img/poll_settings_bot_hover.png) no-repeat ;
}
.button_gray, .button_gray1, .button_green, .button_green1{
    position:relative;
    padding:5px;
    width:100%;
    margin:0 auto;
    display:block;
    text-decoration:none;
    cursor:pointer;
    cursor:hand;
    background: none !important;
}
#send_your_poll
{
    padding:30px 0 0 0;
    margin:0;
    width:950px;
    position:relative;
    background:url(../images/ie_img/send_your_poll_bg.png) no-repeat ;
}
#send_your_poll_top
{
    height:40px;
    padding:20px 17px 0 17px;
    width:916px;
    margin-bottom:9px;
    font-size:16px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    position:relative;
    background:url(../images/ie_img/send_your_poll_top_bg.png) no-repeat ;
}
#send_your_poll_left, #postal_region_left
{
    height:170px;
    float:left;
    width:247px;
    padding:20px;
    position:relative;
    margin-bottom:10px;
    background:url(../images/ie_img/send_your_poll_left_bg.png) no-repeat ;
}
#send_your_poll_right, #postal_region_right
{
    background:url(../images/ie_img/send_your_poll_right_bg.png) no-repeat ;
    float:right;
    width:612px;
    margin-left:9px;
    margin-bottom:10px;
    padding:20px;
    font-size:18px;
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    position:relative;
    height: 171px;
}

#review_and_send
{
    background:url(../images/ie_img/review_and_send_bg.png) no-repeat ;
    height:25px;
    padding:25px 17px;
    width:916px;
    position:relative;
    float:left;

}
#review_and_send_top
{
    background:url(../images/ie_img/review_and_send_top_bg.png) no-repeat ;
    height:40px;
    padding:15px 17px;
    width:916px;
    margin-bottom:9px;
    font-size:16px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    position:relative;
    float:left;
    margin-bottom:80px;

}
span.title_gray4{
    color:#fff;
    font-size:16px;
    line-height:40px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    background:url(../images/ie_img/review_poll_bot.png) no-repeat ;
    width:152px;
    height: 42px;
}
span.title_gray4:hover{
    background:url(../images/ie_img/review_poll_bot_hover.png) no-repeat ;
}
span.title_red{
    color:#fff;
    font-size:16px;
    line-height:45px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    height:42px;
    width:254px;
    display:block;
    position:relative;
    background:url(../images/ie_img/send_ur_question_bot.png) no-repeat ;
    margin-top: -10px;
}
.button_red:hover span.title_red {
    background:url(../images/ie_img/send_ur_question_bot_hover.png) no-repeat ;
}
span.title_gray{
    color:#fff;
    font-size:16px;
    line-height:40px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    background:url(../images/ie_img/poll_settings_bot.png) no-repeat ;
    width:125px;
    height: 42px;
}
span.title_gray:hover{
    background:url(../images/ie_img/poll_settings_bot_hover.png) no-repeat ;
}
span.title_red1{
    color:#fff;
    font-size:16px;
    line-height:45px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    height:42px;
    width:151px;
    display:block;
    position:relative;
    background:url(../images/ie_img/add_files_upload_bot.png) no-repeat ;
    margin-top: -5px;
}
.button_red:hover span.title_red1 {
    background:url(../images/ie_img/add_files_upload_bot_hover.png) no-repeat ;
}
#help em {
    font-size:16px;
    font-family:'bariol_lightlight', 'ie8_bariol_light';
    font-weight: normal;
    line-height:25px;
    font-style:normal;
    width: 380px;
    height: 165px;
    position: absolute;
    top: 35px;
    right:0px;
    text-align: left;
    padding: 20px 20px;
    z-index: 2;
    display: none;
    color:#fff;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .3);
    background:url(../images/ie_img/tool_tip_bg.png) no-repeat ;
}
span.title_green_new_ie8{
    color:#fff;
    width:93px;
    height: 41px;
    font-size:16px;
    line-height:40px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/save_bot.png) no-repeat ;
}
.button_green:hover span.title_green_new_ie8{

    background:url(../images/ie_img/save_bot_hover.png) no-repeat ;
}

.sbHolder{
     border: none;
    font:14px 'bariol_regularregular', 'ie8_bariol_regular';
    height: 32px;
    position: relative;
    width: 388px;
    margin:3px 0 10px 0;
    background:url(../images/ie_img/select_mandatory.png) no-repeat ;
    border: none;
}


#form2 textarea{
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    font-size:14px;
    resize: none;
    margin:10px 0 0 0;
    border:0px solid #AEAEAD;
    padding:10px;
    width:474px;
    box-shadow:none;
    min-height:64px;
    height: 85px;
    background:url(../images/ie_img/send_your_poll_textarea_bg.png) no-repeat ;

}

#answer_form input {
    margin:0 0 15px 0;
    font:16px/18px 'bariol_regularregular', 'ie8_bariol_regular';
    border:none !important;
    padding:6px 15px 8px 15px !important;
    width:700px;
    box-shadow:none;
    background:url(../images/ie_img/answer_input_bg.png) no-repeat !important;
}
span.title_red_ie8{
    color:#fff;
    font-size:16px;
    line-height:45px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    height:42px;
    width:254px;
    display:block;
    position:relative;
    margin-top: -7px;
    background: none;
    border: none;
}
.button_red:hover span.title_red_ie8 {
   background: none;
}
.custom-checkbox label, .custom-radio label {
    background-position: -9px -12px !important;
}
.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label.hover,
.custom-radio label.focus {
    background-position: -9px -110px !important;
}

.button_red_dash_page {
    position:relative;
    padding:5px;
    margin:0 auto;
    /*margin-bottom:30px;*/
    width:100%;
    height:32px !important;
    display:block;
    text-decoration:none;
    text-transform:uppercase;
    cursor:pointer;
    background:url(../images/ie_img/button_red_dash_page.png) no-repeat;
}
span.title_red5_ie8{
    color:#fff;
    font-size:16px;
    line-height:45px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    height:42px;
    width:254px;
    display:block;
    position:relative;
    margin-top: 2px;
}
.accordion a:hover {
    text-decoration: none;
    background:url(../images/ie_img/left_menu_active_img.png) no-repeat !important;
    width:257px ;
}
.activeBar {
    color: #c2002d;
     background:url(../images/ie_img/left_menu_active_img.png) no-repeat !important;
     width:257px ;
}
.activeBar span {
    color: #fff;
    background: rgba(26, 48, 62, 0.0); !important;
    left: 211px !important;
    position: absolute !important;
    z-index: 1000 !important;
    background:url(../images/ie_img/left_menu_active_img_red.png) no-repeat !important;
    }
.accordion a span{
    background:url(../images/ie_img/left_menu_active_img_red.png) no-repeat !important;
    position: absolute !important;
    z-index: 10000 !important;
    left: 211px !important;
}
.ready_vote_bot {
    position:relative;
    padding:5px;
    margin:0 auto;
    width:100%;
    height:32px !important;
    display:block;
    text-decoration:none;
    text-transform:uppercase;
    cursor:pointer;
    background:url(../images/ie_img/read_vote_bot.png) no-repeat;
}
.title_comments{
    position:relative;
    padding:5px;
    width:194px !important;
    margin:0 auto;
    display:block;
    text-decoration:none;
    cursor:pointer;
    background:url(../images/ie_img/comments_bot.png) no-repeat;
}
.title_comments:hover{
    background:url(../images/ie_img/comments_bot_hover.png) no-repeat;
}
span.title_green_comment_ie8{
    color:#fff;
    width:100%;
    font-size:14px !important;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;

}
.title_view_incyyte{
    position:relative;
    padding:5px;
    width:184px !important;
    margin:0 auto;
    display:block;
    text-decoration:none;
    cursor:pointer;
    background:url(../images/ie_img/view_icyyte_bot.png) no-repeat;
}
.title_view_incyyte:hover{
    background:url(../images/ie_img/view_icyyte_bot_hover.png) no-repeat;
}
.business_detail {
    background:url(../images/ie_img/business_account_bg.png) repeat;
    padding:0 0px;
    margin-bottom: 15px;
}
.business_account{
    position:relative;
    padding:5px;
    width:263px !important;
    margin:0 auto;
    display:block;
    text-decoration:none;
    cursor:pointer;
    background:url(../images/ie_img/create_business_bot.png) no-repeat;
}
.business_account:hover{
    background:url(../images/ie_img/create_business_bot_hover.png) no-repeat;
}
span.sendmsg_ie8{
    color:#fff;
    width:103px;
    height: 31px;
    font-size:16px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/invite_people_bot_bg.png) no-repeat ;
}
.send_message_bot
{
    padding:0px;
    border-bottom:0;
    cursor: pointer;
    background:url(../images/ie_img/send_message_bot.png) no-repeat ;
    width: 165px !important;
}
.send_message_bot:hover{
    background:url(../images/ie_img/send_message_bot_hover.png) no-repeat ;
}
span.title_send_message_ie8{
    color:#fff;
    width:158px;
    height:31px;
    font-size:14px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background: none !important;
}
.advanced_searchbox_ie8 {
    position:relative;
    margin:0 auto;
    width:681px;
    height:76px;
    padding: 0px;
    display:block;
    text-decoration:none;
    margin-bottom:30px;
    background:url(../images/ie_img/advance_search_bg_ie.png) no-repeat !important;
}

.page-numbers,.page-numbers a {
    width: 59px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
     float: left;
    margin:0 3px;
    text-align: center;
    text-decoration: none;
    color: #1b303f;
    background:url(../images/ie_img/pagination_previus_bg.png) no-repeat !important;

}
.current,.page-numbers:hover {
    color: #fff;
    background:url(../images/ie_img/pagination_next_bg.png) no-repeat !important;
}
#invite_poeple_sucess, #import_emails_sucess
{
    height:153px;
    background:url(../images/ie_img/invite_poeple_sucess_bg.png) no-repeat;
}
#postal_region input , #post_on_webpage input{
    margin:0;
    border:none !important;
    padding:6px 10px;
    width:215px;
    height: 32px;
    box-shadow:none;
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    font-size:16px;
    line-height:18px;
    color:#1b303f;
    background:url(../images/ie_img/send_your_poll_input_bg.png) no-repeat;
}
.sbHolder_ie8{

    border: none;
    font:14px 'bariol_regularregular', 'ie8_bariol_regular';
    height: 32px;
    position: relative;
    width: 125px;
    margin:3px 0 10px 0;
    background:url(../images/ie_img/email_group_select_bg.png) no-repeat !important ;
}

.sbSelector_ie8{
    display: block;
    height: 32px;
    left: 0;
    line-height: 30px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 188px;
    background:url(../images/ie_img/date_select_bg.png) no-repeat !important ;
}
.sbToggle_ie8{
    background: url(../images/ie_img/select-icons.png) 0 -116px no-repeat !important;
    display: block;
    height: 30px;
    outline: none;
    position: absolute !important;
    z-index: 1 !important;
    right: 0;
    top: 0;
    left: 158px;
    width: 30px;
}
.sbOptions_ie8{
    background-color: #fff;
    border: solid 1px #9ba8ae;
    list-style: none;
    left: -1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 188px;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.postal_region_ie8{
    margin:0;
    border:none !important;
    padding:6px 10px;
    width:188px;
    height: 32px;
    box-shadow:none;
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    font-size:16px;
    line-height:18px;
    color:#1b303f;
    background:url(../images/ie_img/date_select_bg.png) no-repeat !important;
}

span.invite_people_ie8{
    color:#fff;
    width:203px;
    height: 32px;
    font-size:14px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/invite_more_people_bg.png) no-repeat !important ;
}
.button_green1:hover span.invite_people_ie8{
    background:url(../images/ie_img/invite_more_people_bg_hover.png) no-repeat !important ;
}

span.invite_people_ie8{
    color:#fff;
    width:203px;
    height: 32px;
    font-size:14px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/invite_more_people_bg.png) no-repeat !important ;
}
.button_green1:hover span.invite_people_ie8{
    background:url(../images/ie_img/invite_more_people_bg_hover.png) no-repeat !important ;
}
span.delete_bot{
    font-size:14px !important;
    line-height:28px !important;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    width: 87px !important;
    height: 32px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}
.button_enabled_ie8{
    color:#fff;
    width: 87px !important;
    height: 32px !important;
    background:url(../images/ie_img/delete_bg_bot.png) no-repeat !important ;
    margin: 0px 0px 0px 0px !important;
    line-height:28px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 10px !important;

}
.button_disabled_ie8 {
    cursor: default;

    background:url(../images/ie_img/delete_disable_bot.png) no-repeat  !important ;
    width: 87px !important;
    height: 32px !important;
    line-height:28px !important;
}
.button_disabled_addtogroup{
    cursor: default;
    background:url(../images/ie_img/addtogroup_disable.png) no-repeat  !important ;
    float: left;
    width: 163px !important;
    height: 31px !important;
    line-height:28px !important;

}
span.title_vote_now_ie8{
    color:#fff;
    font-size:16px;
    line-height:40px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    background:url(../images/ie_img/vote_now_bot.png) no-repeat !important;
    width:175px !important;
    height: 32px;
}
span.title_vote_now_ie8:hover{
    background:url(../images/ie_img/vote_now_bot_hover.png) no-repeat !important;
}
.vote_completed_ie8 {
    width:98px;
    height: 26px;
    display:block;
    margin:10px auto 0 auto;
    padding:0 6px;
    color: #fff;
    font:15px 'bariol_regularregular', 'ie8_bariol_regular';
    line-height:25px;
    text-align:center;
    margin-right:-17px;
    background:url(../images/ie_img/view_result_img.png) no-repeat !important;
}
span.dash_details_red_ie8{
    color:#fff;
    font-size:14px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    height:28px;
    width:100%;
    display:block;
    position:relative;
}
.add_comment_ie8{
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    font-size:14px;
    resize: none;
    margin:10px 0 0 0;
    border:none;
    padding:10px;
    width:598px;
    height: 90px;
    box-shadow:none;
    min-height:64px;
    overflow-y: auto;
    background:url(../images/ie_img/add_ur_comment_bg.png) no-repeat !important;

}
span.share_poll_ie8{
    color:#fff;
    width:176px;
    height:40px;
    font-size:14px;
    line-height:40px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/share_poll_bot.png) no-repeat !important ;
    margin-top: 15px !important;
}
.button_green:hover span.share_poll_ie8
{
    background:url(../images/ie_img/share_poll_bot_hover.png) no-repeat !important ;
}
.dropBoxContent {
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    width: 165px !important;
    padding: 15px;
    background:url(../images/ie_img/more_option_bg.png) no-repeat !important ;
}
#msg_send_reply
{
    width:630px;
    height:220px;
    margin-left:50px;
    background:url(../images/ie_img/send_reply_bg.png) no-repeat !important ;
}
#msg_send_reply textarea {
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    font-size:14px;
    resize: none;
    color:#1B303F;
    padding:10px;
    width:100%;
    box-shadow:none;
    border: none;
    min-height:90px;
    overflow: auto;
    background:url(../images/ie_img/send_reply_textarea_bg.png) no-repeat ;
}
span.send_reply_bot_ie8{
    color:#fff;
    width:165px;
    height: 32px;
    font-size:14px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    float: right;
    margin-right: 55px !important;
    z-index:5;
    background:url(../images/ie_img/send_reply_bot.png) no-repeat !important ;
}
span.send_reply_bot_ie8:hover{
    background:url(../images/ie_img/send_reply_bot_hover.png) no-repeat !important;
}
.back_to_msg_bot_ie8{
    position:relative;
    font-size: 14px !important;
    line-height: 20px !important;
    padding:5px;
    width:100%;
    height: 33px;
    margin:0 auto;
    display:block;
    text-decoration:none;
    cursor:pointer;
    background:url(../images/ie_img/back_to_msg_bot.png) no-repeat !important ;
}
.back_to_msg_bot_ie8:hover{
    background:url(../images/ie_img/back_to_msg_bot_hover.png) no-repeat !important ;

}
#sendmsg_success
{
    height:153px !important;
    background:url(../images/ie_img/invite_poeple_sucess_bg.png) no-repeat;
}
span.sendmsg_success_ie8{
    color:#fff;
    width:203px;
    height: 32px;
    font-size:14px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/invite_more_people_bg.png) no-repeat !important ;
}
.button_green1:hover span.sendmsg_success_ie8{
    background:url(../images/ie_img/invite_more_people_bg_hover.png) no-repeat !important ;
}
.button_green1_addtogroup{
    width: 163px;
    height: 31px;
    float: left;
    background:url(../images/ie_img/addtogroup_enable.png) no-repeat !important ;
}
#sharedEmailList {
    padding: 20px;
    width: 390px;
    height: 410px;
    padding: 20px;
    background:url(../images/ie_img/share_contact_bg.png) no-repeat !important ;
}
#emailArr {
    font-size:12px;
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    border:none;
    color: #1b4d5f;
    width:365px !important;
    line-height:18px;
    margin-left:8px;
    padding:5px;
    vertical-align:top;
    resize:none;
    background:url(../images/ie_img/share_contact_textarea_bg.png) no-repeat !important ;
    overflow-y: auto;
}
span.share_bot_ie8{
    color:#fff;
    width: 99px !important;
    height: 32px !important;
    font-size:14px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    position: relative;
    background:url(../images/ie_img/share_contact_bot.png) no-repeat !important ;
}
.button_green1:hover span.share_bot_ie8{
    background:url(../images/ie_img/share_contact_bot_hover.png) no-repeat !important ;
}
.share_bot_margin_ie8{
    float: left !important;
    margin-top: -15px !important;
}
#contact_details, #edit_delete_groups, #group_details
{

    padding:20px 10px !important;
    padding-right: 15px !important;
    width:669px !important;
    height: 259px;
    border:none;
    font:14px/18px 'bariol_regularregular', 'ie8_bariol_regular';
    color:#fff;
    background:url(../images/ie_img/group_details_popup_bg.png) no-repeat !important ;

}
#contactMessageDiv {
    margin-top:-20px;
    padding:5px 0 20px 250px !important;
    color:black;
}
.edit_profile_upload_photo_ie8{
    position:relative;
    font-size: 14px !important;
    line-height: 20px !important;
    padding:5px;
    width:214px !important;
    height: 33px !important;
    margin:0 auto;
    display:block;
    text-decoration:none;
    cursor:pointer;
    background:url(../images/ie_img/upload_photo_bot.png) no-repeat !important ;
    /*margin-top: 60px  !important;*/
}
.edit_profile_upload_photo_ie8:hover{
    background:url(../images/ie_img/upload_photo_bot_hover.png) no-repeat !important ;

}
#edit_profile_setup textarea
{
    height:85px;
    overflow: auto;
    background:url(../images/ie_img/my_insight_text_area_bg.png) no-repeat !important ;
    border: none;
    width: 284px;

}
span.edit_profile_save_bot_ie8{
    color:#fff;
    width:72px;
    height:42px;
    font-size:14px;
    line-height:40px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/edit_save_bot.png) no-repeat;
}
span.edit_profile_save_bot_ie8:hover
{
    background:url(../images/ie_img/edit_save_bot_hover.png) no-repeat !important ;
}
.edit_profile_input_ie8
{
    width:485px !important;
    height: 33px;
    padding:5px 10px;
    margin:5px 0 7px 0;
    color:#1B303F;
    font-size:18px;
    /*float:right;*/
    border:none !important;
    /*overflow: auto;*/
    background:url(../images/ie_img/edit_profile_input_bg.png) no-repeat !important ;
}
.edit_profile_country_input_ie8
{
    width:485px !important;
    height: 33px;
    padding:5px 10px;
    margin:5px 0 7px 0;
    color:#1B303F;
    font-size:18px;
    /*float:right;*/
    border:none !important;
    /*overflow: auto;*/
    background:url(../images/ie_img/edit_profile_country_input_bg.png) no-repeat !important ;
}
.edit_profile_date_spacing_ie8{

    padding-right: 70px !important;

}
.edit_setting_input_ie8
{
    width:267px !important;
    height: 33px;
    padding:5px 10px;
    margin:5px 0 7px 0;
    color:#1B303F;
    font-size:18px;
    /*float:right;*/
    border:none !important;
    /*overflow: auto;*/
    background:url(../images/ie_img/change_password_input_bg.png) no-repeat !important ;
}
.current_rating
{
    width:342px;
    padding:8px 15px;
    margin:0px 0 7px 0;
    color:#fff;
    font-size:16px;
    border:0;
    float:right;
    background:url(../images/ie_img/current_rating_bg.png) no-repeat !important ;
}
.deactive_bot_ie8{
    color:#fff;
    width:166px !important;
    height:33px;
    font-size:14px;
    line-height:35px !important;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/deactive_now_bot.png) no-repeat !important ;
}
.deactive_bot_ie8:hover
{
    background:url(../images/ie_img/deactive_now_bot_hover.png) no-repeat !important ;
}
.profle_pic_browse_bot_ie8{
    color:#fff;
    width:145px !important;
    height:33px;
    font-size:16px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/profile_pic_add_photo_bot.png) no-repeat !important;
}
.profle_pic_browse_bot_ie8:hover
{
    background:url(../images/ie_img/profile_pic_add_photo_bot_hover.png) no-repeat !important;
}
span.profile_pic_upload_bot_ie8{
    color:#fff;
    font-size:16px;
    line-height:38px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    height:42px;
    width:153px;
    display:block;
    position:relative;
    background:url(../images/ie_img/profile_pic_upload_bot.png) no-repeat ;
    margin-top: -10px;
}
.button_red:hover span.profile_pic_upload_bot_ie8 {
    background:url(../images/ie_img/profile_pic_upload_bot_hover.png) no-repeat ;
}
.profilepic_delete_confirm {
    width: 130px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
    left: 140px;
    top: 100px;
    font-size: 14px;
    color: #1B303F;
    background: rgb(255,255,255);
    background:url(../images/ie_img/profile_pic_delete_bg.png) no-repeat ;
    z-index:100;
    position: absolute;
}
#progress_bar1 {
    width: 204px;
    height: 18px;
    margin: 0;
    position: relative;
    padding:3px;
    background:url(../images/ie_img/progress_bar1_bg.png) no-repeat !important;
}
#usersettingForm p {
    text-decoration: none;
    font-size: 12.5px;
}

.maximum_size_ie8{
    float: left;
    margin-top: -140px !important;
}
.delete_image_part_ie8{
    float: left;
    margin-top: -115px !important;
}
.my_insight_allignment_ie8{
    float: left;
    margin-left:40px !important;
    width: 284px !important;
}
.detailsform_ie8  {
    background:url(../images/ie_img/Mandatory_Information_bg_new.png) no-repeat !important;
    width: 450px;
    height: 553px !important;

}
.post_code_input_ie8 {
    box-shadow:none;
    background:#fff;
    font:12px/15px 'bariol_regularregular', 'ie8_bariol_regular';
    color:#76838c;
    padding:7px 0 7px 10px;
    line-height: 36px !important;
    width:424px !important;
    height: 30px;
    overflow: auto;
    border:none !important;
   background:url(../images/ie_img/Mandatory_Information_input_bg_new.png) no-repeat !important;
    }
span.mandatory_enter_bot_ie8{
    color:#fff;
    width:96px;
    height:32px;
    font-size:14px !important;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/mandatory_enter_bot.png) no-repeat !important ;
    margin-top: 0px !important;
}
span.mandatory_enter_bot_ie8:hover
{
    background:url(../images/ie_img/mandatory_enter_bot_hover.png) no-repeat !important;
}
.mandatory_select_allignment_ie8{
    float: left;
    width: 100% !important;
}

span.share_page_bot_ie8{
    color:#fff;
    width:170px !important;
    height:32px;
    font-size:14px !important;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/share_page_bot.png) no-repeat !important;
}
span.share_page_bot_ie8:hover {
    background:url(../images/ie_img/share_page_bot_hover.png) no-repeat !important;
}

.share_option_BoxContent_ie8 {
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    width: 150px !important;
    padding: 15px;
    background:url(../images/ie_img/share_option_bg.png) no-repeat !important ;
}

span.share_date_bot_ie8{
    color:#fff;
    width:93px !important;
    height: 41px;
    font-size:16px;
    line-height:40px !important;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    z-index:5;
    background:url(../images/ie_img/save_bot.png) no-repeat !important ;
}

span.share_date_bot_ie8:hover{
    background:url(../images/ie_img/save_bot_hover.png) no-repeat !important;
}

.msg_delete_bg_ie8 {
    width: 145px;
    height: 85px;
    line-height: 20px;
    padding: 15px;
    left: 550px;
    top:-50px;
    font-size: 12.5px !important;
    color: #1B303F;
    margin:-58px;
    z-index:0;
    background:url(../images/ie_img/delete_msg_confirm_bg.png) no-repeat !important;
}
.message_tab:hover {
    background:url(../images/ie_img/msg_box_bg.png) repeat ;
}
.tt-wrapper li a span{
    width: 100px;
    height: auto;
    line-height: 20px;
    padding: 10px;
    left: 50%;
    margin-left: -64px;
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    font-weight: 400;
    font-style: normal;
    font-size: 0px;
    color: #fff;
    text-align: center;
    border: none;
    background: #1b303f;
    text-indent: 0px;
    position: absolute;
    pointer-events: none;
    bottom: 100px;
    opacity: 0;
    display: none;
}

.upload_photo_searchbox {
    position:relative;
    margin:0 auto;
    width:508px;
    height:40px;
    line-height:40px;
    display:block;
    text-decoration:none;
    margin-top: 20px;
    margin-bottom:30px;
    padding: 0px 5px 0 18px;
    font-size:16px;
    background:url(../images/ie_img/dash_page_advance_search_bg.png) no-repeat !important;
}
#pollfrom input{
    color: #76838C;
    font: 12px/15px 'bariol_regularregular', 'ie8_bariol_regular';
    overflow: auto;
    padding: 13px 0 7px 10px;
    width: 388px;
    height: 47px;
    background:url(../images/ie_img/poll_setup_input.png) no-repeat !important;
    border: none;
}
#pollfrom textarea{
    border: none;
    color: #76838C;
    font: 12px/15px 'bariol_regularregular', 'ie8_bariol_regular';
    overflow: auto;
    padding: 7px 0 7px 10px;
    width: 386px;
    height: 180px;
    background:url(../images/ie_img/poll_setup_textarea.png) no-repeat !important;
}
.poll_button_gray{
    color:#fff;
    width:100%;
    font-size:16px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    width: 180px;
    height: 42px;
    padding-top: 7px;
    background:url(../images/ie_img/poll_setup_btn3.png) no-repeat !important;

}
.poll_button_green{
    color:#fff;
    width:100%;
    font-size:16px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    width: 180px;
    height: 42px;
    padding-top: 7px;
    background:url(../images/ie_img/poll_setup_btn2.png) no-repeat !important;

}
.poll_button_red{
    color:#fff;
    width:100%;
    font-size:16px;
    line-height:28px;
    font-family:'bariol_boldbold', 'ie8_bariol_bold';
    text-align:center;
    text-transform:uppercase;
    letter-spacing:normal;
    display:block;
    position:relative;
    width: 180px;
    height: 42px;
    padding-top: 7px;
    background:url(../images/ie_img/poll_setup_btn1.png) no-repeat !important;

}
.postal_region_left{
    font-size:14px;
    font-weight:normal;/*padding-left:35px;*/
    font-family:'bariol_regularregular', 'ie8_bariol_regular';
    line-height: 25px;
    margin-top: -20px;
    color: #102637;
}
.postal_region_left ul{
    color: #102637;
}
.postal_region_left ul li{
    padding-top: 10px;
    color: #1b4d5f;
    list-style:url("../../ui/images/list_arrow.png");
    margin-left: 15px;
}

