.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24,
.grid_26,
.line,
.col,
.col_setting,
.col_privacy,
.tour_img,
.tour_contents
{
	float: left;
}

.rightIndent1{
	padding-right:10px;
}
.rightIndent2{
	padding-right:50px;
}
.leftIndent1{
	padding-left:20px;
}
.leftIndent2{
	padding-left:50px;
}
.leftIndent3{
	padding-left:20px;
}
.toppadding{
	padding-top:20px;
}
.marginbottom
{
margin-bottom:80px;
}
.hline
{
border-top:1px #aeaead solid;
padding:10px;
margin:20px 15px 0 0;
}
.hline_setting
{
border-top:1px #aeaead solid;
/*padding:10px;*/
padding-bottom:5px;

}
.line{
	/*margin-top:-20px;*/
	width:40px;
	height:475px;
	
}
.line span{
	position:relative;
	display:block;
	left:-1px;
	width:40px;
	height:473px;
	background:url(../images/content_line.png) 0 0 no-repeat;
}

.col_setting{
	width:205px;
}
.col{
	width:205px;
}
.colIndent_setting{
	padding-right:15px;
/*	border-right:1px solid #2d404e;*/
}
.col_privacy
{
width:850px;
margin:10px 0px;
}
.colIndent{
	padding-right:35px;
	border-right:1px solid #2d404e;
}

.grid_1 {
	width:30px;
}

.grid_2 {
	width:70px;
}

.grid_3 {
	width:250px;
}

h3 .grid_4 {
	width:160px;
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	font-size:12px;
	line-height:18px;
	color: #1B303F;
	font-weight:normal;
	float:left;
}
.grid_4a {
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	font-size:12px;
	line-height:18px;
	color: #1B303F;
	font-weight:normal;
}

.grid_5 {
	width:190px;
}

.grid_6 {
	width:230px;
	float:right;
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	font-size:14px;
	line-height:18px;
	color: #1B303F;
	font-weight:normal;
}
.grid_6 span
{
font-size:18px;
line-height:25px;
}

.grid_6a, .grid_6b
{
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	font-size:14px;
	line-height:18px;
	color: #1B303F;
	font-weight:normal;
	border-left:1px solid #aeaead;
	padding:10px 0px 10px 40px;
}
.grid_6a strong{
font-family:'bariol_boldbold', 'ie8_bariol_bold';
}
.grid_6a span
{
font-size:18px;
line-height:25px;
}

.grid_6b
{
border-left:0px solid #aeaead;
}
.grid_7 {
	width:270px;
}

.grid_8 {
	width:350px;
	margin-left:10px;
}

.grid_9 {
	width:240px;
    min-height: 600px;
}

.grid_10 {
	width:420px;
	margin-left:30px;
}

.grid_11 {
	width:500px;
}

.grid_12 {
	width:470px;
}

.grid_13 {
	width:510px;
}

h3 .grid_14 {
	width:400px;
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	font-size:16px;
	line-height:20px;
	color: #1B303F;
	font-weight:normal;
	float:left;
}

.grid_15 {
	width:590px;
}

.grid_16 {
	width:630px;
}

.grid_17 {
	width:670px;
	margin-bottom:80px;
	
}

.grid_18 {
	width:680px;
	margin-bottom:80px;
	margin-left:30px;
}

.grid_19 {
	width:750px;
}

.grid_20 {
	width:790px;
}

.grid_21 {
	width:830px;
}

.grid_22 {
	width:870px;
}

.grid_23 {
	width:910px;
}

.grid_24 {
	width:950px;
	margin-bottom:80px;
}

.grid_25
{
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
    font-size:14px;
    line-height:18px;
    color: #1B303F;
    font-weight:normal;
    border-bottom:1px solid #aeaead;
    padding:30px 0px 30px 0px;
}
.grid_25 strong{
font:40px/14px 'bariol_boldbold', 'ie8_bariol_bold';
}

.grid_26 {
	width:150px;
    min-height: 600px;
}

#container, #container1, #container2, #container3
{
float:left;
}
#advert
{
width:180px;
height:150px;
background: rgba(255, 255, 255, .3);
margin:30px 0 0 0 ;
}

.tour_img
{
width:410px;
}
.tour_contents
{
width:390px;
margin-left:10px;
}
