/*
 * Cloudsponge Widget Default Stylesheet
 * Use this as a template if you want to override the stylesheet in the csPageOptions
 */

/* Globals */
html {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  color: #555;
  font: normal normal normal 12px/normal Verdana;
  margin: 0px auto;
  padding: 0px;
  /*background-color: #FF0000;*/
  background-color: #aeaead;
}

h1 {
  margin: 0px 0 12px 0;
  font-size: 15px;
  text-align: left;
}

a img {
  border-width: 0px;
}

h1#title {
  text-align: left;
}

/* address_book.html.erb Layout styles */
#container {
  width: 100%;
  height: 100%;
}
#center {
  position: relative;
}
#content {
  position: relative;
  padding: 0 0px;
  /* Delete this background-color style to let the body shine through! */
  /*  background-color: white; */
  border-style: solid;
  border-width: 0px;
  height: 487px;
}
#footer {
  height: 25px;
  margin-top: 10px;
  position: relative;
}

/*
  Global Classes
*/
.right {
  float: right;
}

.clear {
  clear: both;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

.nowrap {
  white-space:nowrap;
  overflow: hidden;
}

#nav {
  float: right;
}

#nav a {
  float: right;
  margin-top: 3px;
}

/* 
  Page styles: index.html.erb 
*/
#index { }

#index div#sources {
  padding: 0px;
  margin: 30px 0 0 0px;
}
#index .source {
	font-size: 15px;
	padding: 0px;
	margin: 25px 0;
}

#index .source a {
  position: relative;
  text-decoration: none;
}

.source-logo { position: relative; height: 32px; }
.source-logo span { position: relative; top: -10px; padding-left: 5px; font-size: 16px; font-weight: normal; }
.source-logo img { height:32px; width:32px; }
a div.source-logo span { text-decoration: underline; color: blue; }
.with-subtext span.text { position: relative; top: -19px; }
.with-subtext span.subtext { position: absolute; left: 37px; top: 18px; font-size: 12px; white-space: nowrap; }


/* 
  Page styles: show.html.erb 
*/

/* Contacts display */

div#contacts {
  margin-top: 10px;
}

table#contacts-table {
/*  max-width: 405px;*/
  width: 100%;
}
/* IE8 only: This prevents the table layout from growing too wide */
div#ie-contacts-table table { table-layout: fixed; }

#contacts-table th {
  text-align: left;
  height: 100%;
}
#contacts-table tr {
/*  max-width: 405px;*/
}

#scrolling-table {
  border: 1px solid #555;
  height: 335px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #EEEEEE;
  color: black;
  -webkit-overflow-scrolling: touch;
}

#scrolling-table > * {
  -webkit-transform: translateZ(0px);
}

p#contacts-loading {
  padding-top: 60px;
  text-align: center;
}
#scrolling-table div#importing-animation {
  padding-top: 25px;
}

/*#contact div { float: left; padding: 5px 3px 0 3px; font-weight: normal; overflow: hidden; height: 18px; }*/
#header { margin-bottom: 3px; position: relative; }
/*#header .check, */
#contact .check { padding: 3px 0px 0px 3px; width: 18px; }
/*#header .name, */
#contact .name { max-width: 160px; }
/*#header .name, #contact .name { width: 160px\9 }
#header .name, #contact .name { background-color:red\9 }
#header .name, #contact .name { overflow: auto\9 }
*/
/*#header .email, */
#contact .email { max-width: 188px; overflow:hidden; }
/*#header .email, #contact .email { max-width: 188px\9 }*/
/*#header .phone, #contact .phone {  }*/
#contact select { max-width: inherit; }

#header .check-all { position: relative; height: 15px; }
#header .search { position: absolute; top: -8px; right: 1px; }

input.submit, a.submit {
  margin: 6px 0 2px 0;
  float: right;
}
a.cancel {
  color: #4E5F6C;
	float: left;
	margin: 7px 0 2px 0;
}


/*
  csv upload styles
*/

div.fileinputs {
  position: relative;
  background-color: #ffffee;
  text-align: center;
  line-height: 14px;
  padding: 17px 0;
  border: 1px solid #777;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 20px 10px;
  overflow: hidden;
}

.fileinputs input {
  position: absolute;
/*  top: 0; left: 0;
  text-align: right;
  -moz-opacity: 0;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  cursor: pointer;
*/  
  padding: 0;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 30px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-700px, 0) scale(8,4); /* enlarge the input so that the 'clickable portion of it expands to fill the button container */
  direction: ltr;
  cursor: pointer;
}

ol.upload-inst li { padding: 5px 0; }
.csv-cancel { position: absolute; bottom: 5px; left: 0; }
#fileinput-message { font-weight: bold; }

/*
  auth.html
*/

#webmail_auth fieldset { border-width: 0px; /*font-size: 12px;*/ padding-left: 0; margin-left: 0;}
#webmail_auth label { width: 100px; float: left; margin: 10px 0; } 
#webmail_auth input { width: 150px; margin: 10px 0; }
#webmail_auth input.submit { width: inherit; font-family: Verdana; margin: 10px 0; }

#errorMessage {
  margin-top: 20px; 
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid red;
  background-color: #FF9400;
  float: left;
}

#privacy-notice {
  margin: 30px 0px;
  font-size: 11px;
}

#squeeze {
  text-align: center;
  position: relative;
  margin-top: 150px;
}
#squeeze p {
  margin-top: 15px;
}

#importing {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}
#importing-animation {
  background: url(../images/demo/bigrotation2.gif) no-repeat center;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}