
/*-------LOGIN STARTS HERE -------*/
#chromebanner {
    position:relative;
    float:right;
    z-index:0;
	right:-10px;
	margin-top:-69px;        
    margin-right:0px;        
}
        
#mobilebanner {
    position:relative;
    float:right;
    z-index:0;
	right:-10px;
	margin-top:-110px;        
    margin-right:0px;        
}
#mobilebanner1 {
    position:absolute;
    float:right;
    z-index:10;
    right:0;
    margin-top:-39px;
    margin-right:0px;
}

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

.dialogContainer {
    position:relative;
    float:right;
    font-size:12px;
}

#loginBox button {
	margin: 15px 0 0 0;
	padding: 0px 5px;
	width: 240px;
	height:35px;
	cursor: pointer;
	color: #1b303f;
	font: bold 16px/28px 'bariol_boldbold', 'ie8_bariol_bold';
	text-shadow: 0px 2px 0 rgba(255, 255, 255, 1);
	background:url(../images/green_bg.png) repeat-x;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .8), 0 1px 0 rgba(255, 255, 255, .8) inset;
	text-align:left;
}
#loginBox button span img {
	marging:0;
	padding:0 10px 0 0;
	float:left;
}

#loginBox button:hover {
	background:url(../images/green_hover_bg.png) repeat-x;
	text-shadow: 0px 2px 0 rgba(255, 255, 255, 1);
}
/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    position:relative;
    z-index:30;
    cursor:pointer;
	padding: 0 0 0 5px;
	height:25px;
	text-decoration: none;
	background:#cff916 url(../images/green_bg25.png) repeat-x ;
    border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	position:relative;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .8), 0 1px 0 rgba(255, 255, 255, .8) inset;
	font-size:12px;
	line-height:25px;
	text-shadow:0px 2px #fff;
}

/* Login Button Text */
#loginButton span {
   color:#1b303f;
    font-size:12px; 
    padding: 0px 5px;
    text-shadow:0px 2px #fff; 
   /* padding: 0 41px 9px 5px;
    background:url(../images/icon_small.png) no-repeat 80px 4px;*/
    display:block
}

#loginButton span img {
	marging:0;
	padding:4px 0 0 2px;
	
}
#loginButton:hover {
    background:#cff916 url(../images/green_bg25_hover.png) repeat-x;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:62px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    background:#cff916 url(../images/green_bg25_hover.png) repeat-x;
    border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	/*padding: 0px 5px;*/
	
}

#loginButton.active span {
  background:#cff916 url(../images/green_bg25_hover.png) repeat-x;
      border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	/*padding: 0px 5px;*/
}

/* A Line added to overlap the border */
/*#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}*/

/* Login Form */
#loginForm {
    margin-top:-1px;
	background:#1B303F;
	border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	width: 246px;
	/*height: 130px;*/
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    border-radius:3px;
    -moz-border-radius:3px;
    /*padding:10px 13px;*/
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    
    display:block;
    color:#1b303f;
    font-size:12px; 
   
    /*padding:7px 0 4px 0;*/
}

#loginForm span a {
    color:#fff;
    font-size:12px;
}

input:focus {
    outline:none;
}

/****************************************loginBox1**********************/


/* Login Button */
#loginButton1 { 
	margin:0 4px 0 0 ;
	padding: 0px 10px;
    display:inline-block;
    float:right;
    position:relative;
    z-index:30;
    cursor:pointer;
	height:25px;
	text-decoration: none;
	position:relative;
	font-size:12px;
	line-height:25px;
	text-shadow:0px 2px #fff;
	background:#cff916 url(../images/green_bg25.png) repeat-x center;
    border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .8), 0 1px 0 rgba(255, 255, 255, .8) inset;
}

/* Login Button Text */
#loginButton1 span {
   color:#1b303f;
    font-size:12px; 
    text-shadow:0px 2px #fff; 
    /*padding: 0 43px 9px 5px;*/
   display:block
}

#loginButton1:hover {
    background:#cff916 url(../images/green_bg25_hover.png) repeat-x;
}

/* Login Box */
#loginBox1 {
    position:absolute;
    top:62px;
    right:-20px;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton1.active {
    background:#cff916 url(../images/green_bg25_hover.png) repeat-x;
    border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	
}

#loginButton1.active span {
     background:#cff916 url(../images/green_bg25_hover.png) repeat-x;
	 /*padding: 0 43px 9px 5px;*/
}

/* A Line added to overlap the border */
/*#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}*/

/* Login Form SN*/
#loginFormSN {
    margin-top:-1px;
	background:#1B303F;
	border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	width: 246px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#loginFormSN fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}


#loginFormSN #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}


#loginFormSN #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginFormSN input, #signUpForm input {
	margin:10px 0 0 0;
	box-shadow:none;
	background:#fff;
    width:92%;
	font:12px/15px 'bariol_regularregular', 'ie8_bariol_regular';
	color:#76838c;
    padding:7px 8px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
 	-0-border-radius: 35px;
}

/* Forgot your password */
#loginFormSN span {
    text-align:left;
	margin-top:8px;
    /*display:block;
    padding:7px 0 4px 0;*/
}

#loginFormSN span a {
/*    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;*/
}

/* Login Form */
#loginForm {
    margin-top:-1px;
	background:#1B303F;
	border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	width: 246px;
	/*height: 130px;*/
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}


#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}


#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input, #signUpForm input {
	margin:10px 0 0 0;
	box-shadow:none;
	background:#fff;
    width:92%;
	font:14px/15px 'bariol_regularregular', 'ie8_bariol_regular';
	color:#000;
    padding:7px 8px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
 	-o-border-radius: 35px;
}

/* Forgot your password */
#loginForm span {
    text-align:left;
	margin-top:8px;
    /*display:block;
    padding:7px 0 4px 0;*/
}

#loginForm span a {
/*    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;*/
}


input:focus {
    outline:none;
}


/****************************************signupBox**********************/


#signupBox button {
	margin:0 4px 0 0 ;
	padding: 0px 10px;
    display:inline-block;
    float:right;
    position:relative;
    z-index:30;
    cursor:pointer;
	height:25px;
	text-decoration: none;
	position:relative;
	font-size:12px;
	line-height:25px;
	text-shadow:0px 2px #fff;
	background:#cff916 url(../images/green_bg25.png) repeat-x center;
    border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .8), 0 1px 0 rgba(255, 255, 255, .8) inset;
}
#signupBox button span img {
	marging:0;
	padding:0 10px 0 0;
	float:left;
}
#signupBox button:hover {
	background:url(../images/green_hover_bg.png) repeat-x;
	text-shadow: 0px 2px 0 rgba(255, 255, 255, 1);
}
/* Login Button */
#signupButton { 
	padding: 7px 15px;
	text-decoration: none;
	position:relative;
	z-index:30;
	cursor:pointer;
	color:#fff;
	font-size:18px;
	line-height:13px;
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	float:right;
/*	border-right:1px #ccc solid;
	margin-right:5px;*/
}

/* Login Button Text */
#signupButton span {
   color:#fff;
}

#signupButton:hover {
    color:#cfff00;
}
#signupButton span:hover {
    color:#cfff00;
}
/* Signup Box */
#signupBox {
    position:absolute;
    top:62px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#signupButton.active {
color:#cfff00;
	
}

#signupButton.active span {
color:#cfff00;
}

/* A Line added to overlap the border */
/*#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}*/

/* signup Form */
#signUpForm {
    margin-top:-1px;
	background:#1B303F;
	border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	width: 280px;
	/*height: 180px;*/
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#signUpForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}


#signUpForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}


#signUpForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#signUpForm input {

}

/* Forgot your password */
#signUpForm span {
    text-align:left;
    /*display:block;
    padding:7px 0 4px 0;*/
}

#signUpForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}



/************************User Name ************************/
#usernameContainer {
    position:relative;
   /* float:left;*/
    /*font-size:12px;
	margin-left:150px;*/
}

#userBox button {
	margin:0 4px 0 0 ;
	padding: 0px 10px;
    display:inline-block;
    float:right;
    position:relative;
    z-index:30;
    cursor:pointer;
	height:25px;
	text-decoration: none;
	position:relative;
	font-size:12px;
	line-height:25px;
	text-shadow:0px 2px #fff;
	background:#cff916 url(../images/green_bg25.png) repeat-x center;
    border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .8), 0 1px 0 rgba(255, 255, 255, .8) inset;
}
#userBox button span img {
	marging:0;
	padding:0 10px 0 0;
	float:left;
}
#userBox button:hover {
	background:url(../images/green_hover_bg.png) repeat-x;
	text-shadow: 0px 2px 0 rgba(255, 255, 255, 1);
}
/* Login Button */
#top_userName { 
	padding: 0px 15px;
	text-decoration: none;
	position:relative;
	z-index:30;
	cursor:pointer;
	color:#9da6ac;
	font-size:14px;
	line-height:13px;
	font-family:'bariol_lightlight', 'ie8_bariol_light';
}

/* Login Button Text */
#top_userName span {
   color:#9da6ac;
}

#top_userName:hover {
    color:#fff;
}
#top_userName span:hover {
    color:#fff;
}
/* Signup Box */
#userBox {
    position:absolute;
    top:35px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#top_userName.active {
color:#fff;
	
}

#top_userName.active span {
color:#fff;
}

/* signup Form */
#userForm {
    margin-top:-1px;
	background:#1B303F;
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	width: 280px;
	height: 180px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#userForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}


#userForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}


#userForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#userForm input {

}

/* Forgot your password */
#userForm span {
    text-align:left;
    /*display:block;
    padding:7px 0 4px 0;*/
}

#userForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}
/************************User Name End ************************/


/************************User Setting************************/
#usersettingContainer {
    position:relative;
   /* float:left;*/
    /*font-size:12px;
	margin-left:150px;*/
	color:#fff;
}

#usersettingBox button {
	margin:0 4px 0 0 ;
	padding: 0px 10px;
    display:inline-block;
    float:right;
    position:relative;
    z-index:30;
    cursor:pointer;
	height:25px;
	text-decoration: none;
	position:relative;
	font-size:12px;
	line-height:25px;
	text-shadow:0px 2px #fff;
	background:#cff916 url(../images/green_bg25.png) repeat-x center;
    border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .8), 0 1px 0 rgba(255, 255, 255, .8) inset;
}
#usersettingBox button span img {
	marging:0;
	padding:0 10px 0 0;
	float:left;
}
#usersettingBox button:hover {
	background:url(../images/green_hover_bg.png) repeat-x;
	text-shadow: 0px 2px 0 rgba(255, 255, 255, 1);
}
/* Login Button */
#user_setting { 
	padding: 0px 15px;
	text-decoration: none;
	position:relative;
	z-index:30;
	cursor:pointer;
	color:#fff;
	font-size:14px;
	line-height:13px;
	font-family:'bariol_lightlight', 'ie8_bariol_light';
}

/* Login Button Text */
#user_setting span {
   color:#fff;
}

#user_setting:hover {
    color:#cfff00;
}
#user_setting span:hover {
    color:#fff;
}
/* Signup Box */
#usersettingBox {
    position:absolute;
    top:30px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#user_setting.active {
color:#fff;
	
}

#user_setting.active span {
color:#fff;
}

/* A Line added to overlap the border */
/*#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}*/

/* signup Form */
#usersettingForm {
    margin-top:-1px;
	background:#1B303F;
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	/*width: 185px;*/
	width: 200px;
	height: 170px;
	padding: 15px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	-o-box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

#usersettingForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}


#usersettingForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}


#usersettingForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#usersettingForm input {

}

/* Forgot your password */
#usersettingForm span {
    text-align:left;
    /*display:block;
    padding:7px 0 4px 0;*/
}

#usersettingForm ul li a {
    color:#fff;
    font-size:12px;
}
#usersettingForm ul li a:hover {
    color:#cfff00;
    font-size:12px;
}
.incyyte_businesslink{
    width: auto;
    height: auto;
    float: left;
}
.incyyte_businesslink a{
    color: #76838c;
    font-size: 12px;
}
.more_rating_details, .more_rating_details a
{
	font:10px/15px 'bariol_regularregular', 'ie8_bariol_regular';
	float:right;
	color:#fff;

}
.more_rating_details a:hover
{
color:#cfff00;
}
/************************User setting End ************************/
/*create Login Form */
#create_loginForm,#singlePage_loginForm,#create_signupform, #signup_modal_big, #signup_modal_big_Form{
    	background: url(../modal/images/modal_background.png) 0 0 repeat;
	
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:25px;
	width: 350px;
	height: auto;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}
#create_loginForm, #singlePage_loginForm, #create_signupform, #signup_modal_big, #signup_modal_big_Form{
    width: 310px;
    padding: 22px;
}
#create_loginForm input, #singlePage_loginForm input, #create_signupform input, #signup_modal_big input, #create_fgtpwdform input, #signup_modal_big_Form input {
    margin:10px 0 0 0;
    box-shadow:none;
    background:#ffffff;
    width:94%;
    font:14px/15px 'bariol_regularregular', 'ie8_bariol_regular';
    color:#000;
    padding:7px 8px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -o-border-radius: 35px;
    border: 1px solid #9da6ac;
}
#create_loginForm .new_button, #singlePage_loginForm .new_button, #create_signupform .new_button, #create_fgtpwdform .frgtpass, .cookie_button {
    width: 74px; height: 31px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    background-image: -webkit-linear-gradient(bottom, #779c10, #a2d127 51%, #bffe19);
    background-image: -moz-linear-gradient(bottom, #779c10, #a2d127 51%, #bffe19);
    background-image: -o-linear-gradient(bottom, #779c10, #a2d127 51%, #bffe19);
    background-image: linear-gradient(to top, #779c10, #a2d127 51%, #bffe19);
    font:16px/18px 'bariol_boldbold', 'ie8_bariol_bold';
    border: 2px solid #958e98;
    color: #1b303f;
    padding: 4px;
    cursor: pointer;
}
#create_signupform .new_button{
    width: 100px;
}
.button_wrap{
    width: 227px;
    height: 47px;
    -webkit-border-radius:35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    background-color: rgba(181,179,177,.84);
    margin: 0 auto;
}
#signup_modal_big .new_button, #signup_modal_big_Form .new_button{
    background-color: #B1B0AE;
    background-image: linear-gradient(to top, #799D16, #9ECB26 50%, #B9F422);
    border-radius: 35px;
    -webkit-border-radius:35px;
    -moz-border-radius: 35px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    height: 39px;
    margin-left: 7px;
    margin-top: 3px;
    width: 214px;
    font:16px/18px 'bariol_boldbold', 'ie8_bariol_bold';
    color: #1b303f;
}
.new_login_txt{
    width: 100%;
    text-align: center;
    margin-top: 40px;

}
.new_login_txt p{
    font-family: 'bariol_boldbold', 'ie8_bariol_bold';
    color: #1b303f;
    font-size: 18px;
    line-height: 30px;
}
.new_login_txt p a{
    color: #1b303f;
}

#detailsform  {
	background: url(../modal/images/modal_background.png) 0 0 repeat;
    border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:25px;
	width: 350px;
	height: 320px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
 }



#create_signupform2 {
    margin-top:-1px;
	background:#1B303F;
	border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	width: 350px;
	height: 550px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#create_signupform3 {
    margin-top:-1px;
	background:#1B303F;
	border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	width: 350px;
	height: 250px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#emailList, .emailList  {
    background: url(../modal/images/email_list_bg.png) no-repeat;
        	
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    padding: 20px;
	width: 390px;
	height: 315px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);	
}


#contactEmailList, #groupList {
    background: url(../modal/images/modal_background.png) 0 0 repeat;
        	
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    padding: 20px;
	width: 390px;
	height: 350px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);	
}

#sharedEmailList {
    background: url(../modal/images/modal_background.png) 0 0 repeat;
        	
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    	
	padding: 20px;
	width: 390px;
	height: 450px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);	
}

#topInCyyteList{
    background: url(../modal/images/modal_background.png) 0 0 repeat;
        	
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    	
	padding: 20px;
	width: 590px;
	height: 610px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);	
}

.addSpan
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:16px;
	line-height:normal;
	color: #1b4d5f;
	font-weight:bold;
	text-shadow:0px 1px #fff;
	letter-spacing:0.75px;
	padding:0 0 0 226px;
	margin:0;
	/*padding-top:2px;*/
}

.importSpan
{
	font-family:'bariol_boldbold', 'ie8_bariol_bold';
	font-size:14px;
	line-height:normal;
	color: #1b4d5f;
	font-weight:bold;
	text-shadow:0px 1px #fff;
	letter-spacing:0.75px;
	margin:0;
	width:300px;
	/*border:1px red solid;*/
}
#create_fgtpwdform, #create_fgtpwdform {
    	background: url(../modal/images/modal_background.png) 0 0 repeat;
        	
    	border-radius:20px;
    	-moz-border-radius:20px;
    	-webkit-border-radius:20px;
    	
	padding: 20px;
	width: 350px;
	height: auto;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}
#create_fgtpwdform{
	width: 310px;
	padding: 22px;
}

.msg_box, #create_fgtpwdmsg{
    	background: url(../modal/images/modal_background.png) 0 0 repeat;
            	
        border-radius:20px;
        -moz-border-radius:20px;
    	-webkit-border-radius:20px;
    	
	width: 350px;
	height: 220px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#view_anspics, #SentToRegion_viewanspic  {
	background: url(../modal/images/modal_background.png) 0 0 repeat;
    	
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:25px;
	width: 350px;
	height: 320px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

.msg_box fieldset, #detailsform fieldset, #emailList fieldset, #sharedEmailList fieldset, #topInCyyteList  fieldset,#create_signupform2 fieldset, #create_signupform3 fieldset, #create_fgtpwdform fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

.msg_box fieldset label, #detailsform fieldset label,#create_signupform2 fieldset label, #create_signupform3 fieldset label, #create_fgtpwdform fieldset label  {
    display:block;
    float:none;
    
    color:#fff;    
    font-size:15px;
    font-weight:500;
}

/* Default Input */
.msg_box input, #detailsform input,  #create_signupform2 input, #create_signupform3 input, #create_fgtpwdform input {
	margin:8px 0;
	box-shadow:none;
	background:#fff;
	font:12px/15px 'bariol_regularregular', 'ie8_bariol_regular';
	color:#76838c;
    	padding:7px 0 7px 10px;
	width:98%;
	overflow: auto;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
 	-0-border-radius: 35px;
 	border:1px solid #AEAEAD;
}

.msg_box select, #snsignUpForm select , #detailsform  select,  #create_signupform2 select, #create_signupform3 select, #create_fgtpwdform select,#create_fgtpwdform select {
	margin:10px 0 0 0;
	box-shadow:none;
	background:#fff;
    width:92%;
	font:12px/15px 'bariol_regularregular', 'ie8_bariol_regular';
	color:#76838c;
    padding:7px 8px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
 	-0-border-radius: 35px;
}

/* Forgot your password */
.msg_box span, #detailsform  span, #create_signupform2 span, #create_signupform3 span, #create_fgtpwdform span,#create_fgtpwdform span, #create_fgtpwdmsg span {
    text-align:center;
	margin-top:8px;
	color:#fff; 
	font-size:17px; 
	
    /*display:block;
    padding:7px 0 4px 0;*/
}

.msg_box span a, #detailsform   span a,#create_signupform2 span a, #create_signupform3 span a, #create_fgtpwdform span a,#create_fgtpwdform span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}
/*Mandatory Information Popup */
 #mandatory_info_main{
     width: 100%;
     height: auto;
 }
#mandatory_info_wrap{
    width: 410px;
    height: auto;
    margin: 0 auto;
    display:none;
    position:fixed;
    top:60px;
    z-index:9999;
}

#mask {
    background-color:#000;
    display:none;
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:9000;
    clear:both;
}
/* -------------------*/
/***********Options css start*************/
.addComment a {
	text-align:right;
	margin:5px;
	color:#1b303f;
}
.addComment a:hover {
	color:#C2002D;
}


.dropBoxContainer {
    position:relative;
    /*float:right;*/
    font-size:14px;
}

/* Login Button */
.dropBoxButton { 
    display:inline-block;
    /*float:right;*/
    position:relative;
    z-index:28;
    cursor:pointer;
	padding: 5px 0 0 60px ;
	text-decoration: none;	
}

/* Login Button Text */
.dropBoxButton span {
   color:#1b303f;
    font-size:14px; 
    padding: 0px 5px;
   /* padding: 0 41px 9px 5px;
    background:url(../images/icon_small.png) no-repeat 80px 4px;*/
    display:block;

}

.dropBoxButton span img {
	marging:0;
	padding:4px 0 0 2px;
	
}
.dropBoxButton:hover {
    color:#C2002D;
}
/* Login Box */
.dropBox {
    position:absolute;
    top:5px;
    right:0;
    display:none;
    z-index:29;
}
/* If the dropbox has been clicked */    
.dropBox.active {
color:#C2002D;
	
}

.dropBox.active span {
color:#C2002D;
}
.dropBoxContent {
    background: rgba(255, 255, 255, 1.0);
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	width: 150px;
	/*height: 100px;*/
	padding: 15px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	-o-box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
}

.dropBoxContent ul li a {
    color:.1B303F;
    font-size:14px;
	/*line-height:30px;*/
}
.dropBoxContent li{
padding-bottom:10px;
line-height:16px;

}
.dropBoxContent ul li a:hover {
    color:#C2002D;
	text-decoration:underline;

}
.dropBoxContent ul li span
{
font-size:10px;
display:block;
margin:0;
padding:0;
}

/**********COMMENT DROPBOX***********************/
.dropBoxContainer2 {
    position:relative;
    /*float:right;*/
    font-size:14px;
}

.dropBoxButton2 { 
    display:inline-block;
    /*float:right;*/
    position:relative;
    z-index:28;
    cursor:pointer;
	padding: 5px 0 0 0px ;
	text-decoration: none;	
}

/* Login Button Text */
.dropBoxButton2 span {
   color:#1b303f;
    font-size:14px; 
    padding: 0px 5px;
   /* padding: 0 41px 9px 5px;
    background:url(../images/icon_small.png) no-repeat 80px 4px;*/
    display:block;

}

.dropBoxButton2 span img {
	marging:0;
	padding:4px 0 0 2px;
	
}
.dropBoxButton2:hover {
    color:#C2002D;
}
/* Login Box */
.dropBox2 {
    position:absolute;
    top:42px;
    left:0;
    display:none;
    z-index:29;
}
/* If the dropbox has been clicked */    
.dropBox2.active {
color:#C2002D;
	
}

.dropBox2.active span {
color:#C2002D;
}
.dropBoxContent2 {
	background:#fff;
	font-family:'bariol_regularregular', 'ie8_bariol_regular';
	width: 120px;
	/*height: 100px;*/
	padding: 12px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	-o-box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
}

.dropBoxContent2 ul li a {
    color:.1B303F;
    font-size:14px;
	/*line-height:30px;*/
}
.dropBoxContent2 li{
padding-bottom:0px;
line-height:16px;

}
.dropBoxContent2 ul li a:hover {
    color:#C2002D;
	text-decoration:underline;

}
.dropBoxContent2 ul li span
{
font-size:10px;
display:block;
margin:0;
padding:0;
}
/*-------ADS ON THE WELCOME PAGE -------*/
#frontpage_ad {
    position:relative;
    float:left;
    z-index:0;
	right:100px;
	margin-top:209px;        
    margin-right:0px;        
}

/***********OptiSons css ends*************/