<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>InCyyte Email Templates Welcome Email</title>
<style type="text/css">
<!--
body {
	margin: 0px;
	padding:0px;
	border:0;
	font:16px/22px Arial, Helvetica, sans-serif; 
	font-weight:normal;
	color:#1b303f;
	background:#DBD9D5 url('http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/bg_pattern.png') 0 0 repeat;
}
A {text-decoration:underline; color:#1b303f;}
A:hover {text-decoration:none; color:#b40021;}
-->
</style>
</head>
<body >
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0"  bgcolor="#ffffff">
  <tr>
    <td colspan="3" align="left" valign="top" style="background:#012c3d;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="58%">&nbsp;</td>
        <td width="42%" align="right" style="padding:5px 15px 0 0 ;font-size:11px;text-align:right;line-height:16px;	color:#FFFFFF;">Email not displaying properly?<br />
          <a href="http://beta.incyyte.com/app/" style="color:#fff;">View in your browser</a> </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3" align="left" valign="top" style="background:#012c3d;"><img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/logo_header.jpg"></td>
  </tr>
  <tr>
    <td width="24" align="left" valign="top">&nbsp;</td>
    <td valign="top"><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="20" >&nbsp;</td>
        </tr>
        <tr>
          <td style="font-size:16px;"><h1 style="font-size:24px;">Hi ${username}</h1>
            <p>Thanks for joining inCyyte.</p>
            Activate your account now by clicking the red 'Complete Signup' button below. Once activated, you can start sending open or anonymous polls to your friends, workmates and your community.
            </p>
            <p align="center"><img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/smile_faces_email.png" alt="" height="258" width="500"></p><br />

            <p align="center"> <a href="${activationCode}"><img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/complete_signup.png" border="0" class="email_signup"></a> </p>
            <p style="font-size:10px;color:#002c3d;" align="center"><a href="${activationCode}"><strong>Click here</strong></a> if button does not work. </p>
            <p style="font-size:10px;color:#002c3d;">You have recieved this email because you registered to join inCyyte.com<br>
              <!-- If you did not register you can notify us by clicking: &quot; <a href="http://beta.incyyte.com/app/">Remove my email from inCyyte</a>&quot;  -->
            </p>
           </td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF">&nbsp;</td>
        </tr>
        
        
    </table></td>
    <td width="24" align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td height="87" colspan="3" align="left" valign="top" style="background:#002c3d;" ><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td >&nbsp;</td>
      </tr>
      
      <tr>
        <td style="color:#fff; font-size:12px;"><a href="http://beta.incyyte.com/app" style="color:#fff;">InCyyte Home</a> | <a href="http://beta.incyyte.com/app/" style="color:#fff;">Top Polls</a> | <a href="http://beta.incyyte.com/app/" style="color:#fff;">inCyyte for Business</a><br>
    InCyyte Limited  Marshway  Rainham Essex RM13 8EU United Kingdom.</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
