<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>InCyte Email Templates v02_Welcome Email</title>
<meta charset="utf-8">

<style type="text/css">
a, abbr, acronym, address, applet, article, aside, audio,b, blockquote, big, body,center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, em, embed,fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, 
h6, header, hgroup, html,i, iframe, img, ins,kbd, keygen,label, legend, li, meter,nav,object, ol, output,p, pre, progress,q, s, 
samp, section, small, span, source, strike, strong, sub, sup,table, tbody, tfoot, thead, th, tr, tdvideo, tt,u, ul, 
var{background: transparent;border: 0 none;font-size: 100%;margin: 0;padding: 0;border: 0;outline: 0;}
ol, ul{list-style: none;}
blockquote, q {quotes: none;}
table, table td { padding:0;border:none;border-collapse:collapse;}
img {vertical-align:top; }
embed { vertical-align:top;}
* { border:none}
input, textarea{ outline:none !important}
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, 
output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }
</style>

<style type="text/css">
/* Global properties ======================================================== */
body, html, #gradient, .extra {}
body {/*overflow:hidden;*/border:0;font:12px/20px 'bariol_regularregular', 'ie8_bariol_regular';color:#1b303f;background: url('http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/bg_pattern.png') 0 0 repeat;}
/* Global Structure ============================================================= */
/* ============================= main layout ====================== */
a {color:#fff;text-decoration: none;outline:none;}
a:hover {color:#cfff00;}
a {-webkit-transition:color 0.3s ease;-moz-transition:color 0.3s ease;-o-transition:color 0.3s ease;transition:color 0.3s ease;}
h1 {padding:10px 0 35px 0;font-family:'bariol_boldbold', 'ie8_bariol_bold';font-size:40px;color: #1B303F;}
#content_home h2 {font:104px/1em 'bariol_thinregular', 'ie8_bariol_thin';color: #1B303F;/*	padding-bottom:39px;*/}
h2 strong {font:1em/1em 'bariol_boldbold', 'ie8_bariol_bold';color: #1B303F;/*	padding-bottom:39px;*/}
h3 {padding:0;font-family:'bariol_boldbold', 'ie8_bariol_bold';font-size:16px;color: #1B303F;}
h4{padding:0 0 18px 0;font-family:'bariol_boldbold', 'ie8_bariol_bold';font-size:27px;color: #fff;}
h4 span{color: #cfff00;}
strong{font-family:'bariol_boldbold', 'ie8_bariol_bold';}

.extra_email {width:600px;padding:0;margin:0 auto;background:#fff;}
.header_email {width:100%;height:60px;background:#1b303f;border-bottom:1px solid #fff;z-index:5;}
#logo_email {display:block;position:relative;text-indent: 100%;white-space: nowrap;overflow: hidden;width:280px;height:80px;
				/*background:url('http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/logo.png') 0 0 no-repeat;*/margin:33px auto 0 130px;}
#emailtop {display:inline-block;padding-top:8px;padding-right:15px;width:160px;font-size:11px;text-align:right;line-height:16px;
				color:#FFFFFF;float:right;font-family: Arial, Helvetica, sans-serif;font-weight:normal}
.email_main {position:relative;width:500px;margin:0 50px;}	
#content_email {position:relative;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:22px;color:#002c3d;}	
#content_email h1 {font-size:30px;padding:30px 0 20px 0;}
#content_email p {padding:0 0 5px 0;}
#content_email a {color:#002c3d;}
#content_email a:hover {color:#b40021;}	
#main_content {position:relative;/*background:url(../../images/contentH_stepline.png) 0 bottom no-repeat;*/}
#buttonaria_red, #buttonaria_signup {border-radius: 35px;-moz-border-radius: 35px;-o-border-radius: 35px;width:290px;
			background-color: rgba(26, 46, 60, 0.1);float:right;margin:10px 15px 0 0;}
#buttonaria_signup {float:none;margin:40px auto;}	
.email_signup {/*background:url('http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/complete_signup.png') no-repeat;*/width:321px;height:69px;cursor: pointer;}
.email_signup:hover {background:url('http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/complete_signup_hover.png') no-repeat;}
p.unsublink, p.unsublink a {font-size:10px;color:#002c3d;}
p.unsublink a:hover {font-size:10px;color:#b40021;}
.footer_email {font-family:Arial, Helvetica, sans-serif;background:#002c3d;font-size:12px;color:#fff;padding:35px 50px;margin:30px 0 0 0;}
</style>

</head>
<body>
<div class="extra_email">
  <!--header -->
  <header>
    <div class="header_email">
      <h1 align="center"><img id="logo_email" src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/logo.png"></h1>
      <div id="emailtop" >Email not displaying properly?<br>
        <a href="#">View in your browser</a> </div>
    </div>
  </header>
  <!--header end-->
  <div class="email_main">
    <!--content -->
    <article id="content_email">
      <div id="main_content" style="padding-top:70px;">
        <h1>Hi ${username}</h1>
        <p>Thanks for joining inCyyte.</p>
       
          Activate your account now by clicking the red 'Complete Signup' button below. Once activated, you can start sending open or anonymous polls to your friends, workmates and your community.</p>
        <p>&nbsp;</p>
        <div> <img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/smile_faces_email.png" alt="" height="258" width="500"></div>
        <div id="buttonaria_signup" align="center">
               <a href="${activationCode}"><img class="email_signup" src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/complete_signup.png"></a>        
        </div>
        <p class="unsublink" align="center"><a href="${activationCode}"><strong>Click here</strong></a> if button does not work</p>
        
        <p class="unsublink">You have recieved this email because you registered to join inCyyte.com<br>
       If you did not register you can notify us by clicking: &quot; <a href="#">Remove my email from inCyyte</a>&quot; </p>
      </div>
    </article>
    <!--content end -->
  </div>
  <!--footer -->
  <div class="footer_email" ><a href="#">InCyyte Home</a> | <a href="#">Top Polls</a> | <a href="#">inCyyte for Business</a><br>
    InCyyte Limited  Marshway  Rainham Essex RM13 8EU United Kingdom.</div>
  <!--footer end-->
</div>
</body>
</html>
