@charset "utf-8";
/* CSS Document */

html
{
	
	overflow-x: hidden;
	overflow-y: scroll;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	
	color:#575757;
	margin: 0; padding: 0;
	background: url(../images/bg.jpg);
}

img
{
	border: 0px;
}

a
{
	color: #335480;
	text-decoration: none;
}


/*
##############################################################################
UTILITY CLASSES
*/
.clear
{
	clear: both;
	height: 0px;
}

.spacer
{
	display: inline-block;
}

.tableSpacer
{
	height: 10px;
}

.bold
{
	font-weight: bold;
}

.error
{
	color: fireBrick;
}

.subscript
{
	font-size: 8pt;
}

.hr
{
	/* makes div act like hr tag, but renders the same in all browsers. */
	height: 1px;
	font-size: 0px;					/* forces IE6 to respect small height */
	background-color: #AAAAAA;
}

.topAligned
{
	vertical-align: top;
}

/*
##############################################################################
Common Components
*/
.mainPanel
{
	position: relative;
	width: 595px;
	background-color: #FFFFFF;
	left: 120px;
	border: 1px solid #E2E4E7;
	padding-bottom: 40px;

}

.header {
	color: #33527F;
	font-size: 220%;
	margin-left: 130px;
}
.panelTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	font-weight: bold;
}
.panelLink {
	color: #004080;
	font-size:10px;
	font-style:normal;	
	cursor: pointer;
}

.groupListFont {
	color: #004080;
	font-size:10px;
	font-style:normal;	
}

input.button {
	font: bold 12px Arial, Sans-serif;
	height: 30px;
	padding: 2px 27px;
	color: #FFF;
	background: #2C76A6;
	border-width: 1px;
	border-style: solid;
	border-color: #86BBDF #245F86 #245F86 #86BBDF;
	cursor: pointer;
}

.inputwidth{
	width: 300px;
	position:relative;
	right: 0px;
}

.inputnowidth{
	position:relative;
	right: 0px;
}

.inputName{
	width: 143px;
	position:relative;
	left: 0px;
}
input, select, textarea {
	margin: 5px 0;
	padding: 3px 3px;
	color: #6A6969;
	border-width: 1px;
	border-style: solid;
  	border-color: #D4D4D4 #EBEBEB #EBEBEB #D4D4D4; 	
	font: 9px 'Lucida Grande', Verdana, Helvetica, sans-serif;
	overflow:hidden; 
}
input:focus, select:focus, textarea:focus {
	color: #19465D;
	background: #EEF8FB;
}

.communicator{
	color: #004080;
	font-size:10px;
	font-style:normal;	
	padding: 1px 0px 0px 0px;	
}

.error
{
	color: fireBrick;
	margin-left: 25px;
}

.errorLabel
{
	color: fireBrick;
	font-weight: bold;
}

.errorIcon
{
	margin-left: 6px;
	visibility: hidden;
}

.inputError
{
	background-color: #ffdce2;
	border: solid 2px #cc3605;
}

#container_wrapper
{
    background-image: url(../images/raise_question_header-bg.jpg);
   	margin: 0px;
	padding: 0px;
	outline: 0px;

    width: 100%;

}


#container
{
	top: 65px;
	width: 1500px;
	margin: auto;
	background-color: #fff;
	color: #2D426A;
	border: 0px solid gray;
	line-height: 130%;
	min-height:100%;
	position:relative;
	border-style:solid;
	border-width:0px;
	
}


.pageHighlight
{
	position: absolute;
	z-index: -1;
	top: 192px;
	left: 498px;
	height: 44px;
	width: 632px;
	background-image: none;
}

#top
{
	padding: .5em;

}

#top h1
{
	padding: 0;
	margin: 0;
}

#content
{
	clear: left;
	float: left;
	display: inline;
	margin-left: 10px;
	padding-bottom:0px;   /* Height to the footer */
	width: 730px;

	border-style:solid;
	border-width:0px;
}

#adside
{
	float: right;
	width: 200px;
	padding: 0px 10px;
	margin: 0 10px 0 0;
	display: inline;
	border-style:solid;
	border-width:0px;
}


.statusBar
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 40px;
	width: 100%;
	background-image: none;
	border-style:solid;
	border-width:0px;
	border-color: #FF0;
}

.statusBar .content
{
	color: #335480;
	font-size: 12px;
	font-weight: normal;
	/*width: 980px;*/
	line-height: 54px;
	/* text-align: right; */
	
}

.statusBar .content .left
{
	float: left;
}

.statusBar .content .right
{
	float: right;
}

.linkSpacer
{
	color: #33527F;
	margin-left: 10px;
	margin-right: 0px;
	font-size: 8pt;
	display: inline-block;

border-style:solid;
border-width:0px;

}

.borderless{
	border: 0px;
}

.spacer
{
	height:30;
	display: inline-block;
	border-style:solid;
	border-width:0px;
}

.link{
	color: #CCC;
	border-style:solid;
	border-width:0px;
	position: relative;
	top: -3px;
	cursor: pointer;
}


/* footer-bottom */

#footer
{
	background: url(../images/bg.jpg);

	clear: both;
	margin: 0;
	color: #333;
	background-color: #fff;
	bottom:0;
	height:65px;   /* Height of the footer */
	border-style:solid;
	border-width:0px;

}

#footer-bottom {
	clear: both;
	width: 1000px;
	font-size: .9em;
	margin: 0 auto;
	padding-top: 10px;
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
	font-size: 11px;
	color: #C2DBE7;
	overflow: hidden;
	background: url(../images/footer-line.gif) repeat-x left top;
}
#footer-bottom a { color: #fff; }
#footer-bottom a:hover { color: #99CCFF; }

#footer-bottom p.bottom-left {
	float: left;
   display: inline;
	margin: 0 0 30px 20px;
	padding: 0;
   width: 600px;
   text-align: left;
}
#footer-bottom p.bottom-right {
	float: right;
   display: inline;
	margin: 0 30px 30px 0;
	padding: 0;
   width: 320px;
   text-align: right;
}




.panelTable {
  display: table;
}

.row {
	display: table-row;
	margin:0px 0px 0px 0px;
}

.labelCell {
	display: table-cell;
	width: 100px;
	border: 0px solid blue;
	/*padding: 1em;*/
	vertical-align: middle;
	text-align: right;
	font-weight: bold;
}

.linkCell {
	display: table-cell;
	width: 100px;
	border: 0px solid blue;
	vertical-align: middle;
	padding-left: 5px;
	text-align: left;
	cursor: pointer;
}

.inputCell {
  display: table-cell;
  width: 300px;
  border: 0px solid blue;
  padding: 1em;
}

.headerCell {
  display: table-cell;
  width: 500px;
  border: 1px solid blue;
  padding: 1em;
  text-align:left;
}

.contentCell {
	display: table-cell;
	width: 400px;
	border: 0px solid blue;
	padding: 0.5px 0px 0px 45px;
	text-align:left;
}

.label {
	font-weight: bold;
	color: #666666;
}


.left{
	text-align:left;
}
.right{
	text-align:right;
}

.dialogLabel{
	display:block;
	margin-bottom: 3px;
}
.dialogText{
	display:block;
	margin-bottom:12px; width:95%; padding: .4em; 
}
.dialogPCText{
	display:block;
	margin-bottom:12px; width:30%; padding: .4em; 
	text-transform:uppercase;
}

.dialogDD{
	display:block;
	margin-bottom:12px; width:100%; padding: .4em; 
}


/*
##############################################################################
Pane layout
*/

#leftPane{
	float: left;
	width: 210px;
	height: 600px;
	padding: 0px 10px;
	margin: 0 10px 10px 10px;
	/*display: inline;*/
	border-width:1px;
	border-right-style: solid;
	border-color: #EBEBEB;
}

.centerPane{
	float: left;
	width: 685px;
	padding: 0px 10px;
	margin: 0 10px 10px 0;
	/*display: inline;*/
	border-style:solid;
	border-width:0px;
}

.centerPane .cpTop{
	float: left;
	width: 670px;
	padding: 0px 0px 0px 5px;
	margin: 0px 10px 0px 0px;
	display: inline;
}

.cpTop .bgTop 
{
	font-size: 0px;	/* ensures min height */
	height: 20px;
	background-image: url(../images/panels/center/inCyyteQu_Top.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.cpTop .bgBody
{
	background-image: url(../images/panels/center/inCyyteQu_Middle.png);
	background-repeat: repeat-y;
}

.cpTop .bgBottom
{
	font-size: 0px;	/* ensures min height */
	height: 20px;
	background-image: url(../images/panels/center/inCyyteQu_Bottom.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.centerPane .cpView{
	float: left;
	width: 660px;
	height: 550px;
	margin: 20px 10px 10px 0px;
	padding: 5px;
	background-image: url(../images/panels/center/inCyyteViewer3.png);
	border: 1px solid #dfe1e2;
	//background-position: center center;
	background-repeat: no-repeat;
}

.cpView .pieChart{
	/*clear: both;*/
	float: center;
	width: 650px;
	height: 520px;
	
	margin: -30px 0px 0px 5px;
}
.cpView .question{
	clear: both;

	text-align:center;
	color: #33527F;
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	margin: 40px 0px 0px 0px;
}

.rightPane{
	float: left;
	width: 297px;
	height: 600px;
	padding: 0px 10px;
	margin: 0 10px 10px 0px;
	/*display: inline;*/
	border-width:1px;
	border-left-style: solid;
	border-color: #EBEBEB;
}

.panelFont{
	color: #33527F;
	font-size: 12pt;
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	vertical-align: middle;
	padding: 0px 0px 0px 10px;
}
/*
##############################################################################
RIGHT Specific portlets.
*/
.portletTop
{
	font-size: 0px;	/* ensures min height */
	height: 54px;
	background-image: url(../images/panels/right/rightColumnBg_top.gif);
}
.portletTop .label
{
    color: #0085CA;
    font-weight: bold;
    font-size: 10pt;
    
    float: left;
	margin-left: 15px;	
	margin-top: 18px;
}

.portletTop .control
{
	display: none;
}

.portletTop .cap
{
	height: 54px;
	background-image: url(../images/panels/right/new/columnBg_topRight.png);
	background-position: right;
	background-repeat: no-repeat;
}

.portletBody
{
	background-image: url(../images/panels/right/rightColumnBg.gif);
	background-repeat: repeat-y;
}

.portletBody .cap
{
	background-image: url(../images/panels/right/new/columnBg_topRight.png);
	background-position: right;
	background-repeat: repeat-y;
}

.portletBottom
{
	font-size: 0px;	/* ensures min height */
	height: 10px;
	background-image: url(../images/panels/right/rightColumnBg_bottom.gif);
}

.portletBottom .cap
{
	height: 10px;
	background-image: url(../images/panels/right/new/columnBg_bottomRight.png);
	background-position: right;
	background-repeat: no-repeat;
}


/*
##############################################################################
LEFT Specific portlets.
*/
.portletLeftTop
{
	font-size: 0px;	/* ensures min height */
	height: 67px;
	background-image: url(../images/panels/left/pnav_top_white_206.gif);
	background-repeat: no-repeat;
}

.portletLeftBodyW
{
	background-image: url(../images/panels/left/pnav_mid_white_206.gif);
	background-repeat: repeat-y;
}

.portletLeftBodyG
{
	background-image: url(../images/panels/left/pnav_mid_gray_206.gif);
	background-repeat: repeat-y;
}

.portletLeftBottom
{
	font-size: 0px;	/* ensures min height */
	height: 67px;
	background-image: url(../images/panels/left/pnav_bottom_gray_206.gif);
	background-repeat: no-repeat;
}

#portletLinks
{
	height: 1.5em;
	overflow: auto;
	width:180px;
	padding-left: 10px;
	margin-left: 10px;
  	border-bottom: 1px solid #d6d9db;
}

.quControlBar
{
  border-top: 1px solid #d6d9db;
  padding-top: 10px;
  padding-left: 165px;

}
.profileBar
{
  border-top: 1px solid #d6d9db;
  padding-top: 10px;
  padding-left: 10px;

}/*
##############################################################################
Specific portlets.
*/

/* Profile Portlet */

#profilePortlet .details table
{
	table-layout: fixed;
	width: 100%;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP printers */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 */
	word-wrap: break-word; /* IE */
}

#profilePortlet .card
{
  border-bottom: 1px solid #d6d9db;
  padding-bottom: 10px;
}

/* Noticeboard portlet */
#noticeboardPortlet .card{
  border-bottom: 1px solid #d6d9db;
}

#noticeboardPortlet .details
{
	height: 10em;
	overflow: auto;
	width:293px;
}

#profilePortlet .card .icon
{
	float: left;
	/*background-image: url(../images/man2.png);*/
	width: 76px;
	height: 72px;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 2px;
	background-color: ffffff;
	border: 1px solid #dfe1e2;
	margin: 15px 0px 0px 8px;	
}

#profilePortlet .card .label
{
  float: left;
  margin-top: 10px;
  line-height: 21px;
  color: #455560;
  font-size: 12px;
  margin-left: 18px;	
  overflow: hidden;
  width: 155px;
  word-wrap: break-word;
}

#profilePortlet .card .editLink
{
  float: left;
  margin-top: 40px;
  line-height: 21px;
  color: #455560;
  font-size: 10px;
  margin-left: 18px;	
  overflow: hidden;
  width: 155px;
  word-wrap: break-word;
}

#profilePortlet .details
{
	padding: 5px;
}

#profilePortlet .details .left
{
	width: 70px;	
	text-align: right;
	vertical-align: top;
	line-height: 18px;
	
	padding-right: 10px;
	background: none;
	font-size: 12px;	
	font-weight: bold;
	color: #455560;	
}

#profilePortlet .details .right
{
	text-align: left;
	vertical-align: top;
	line-height: 18px;
	
	padding-left: 10px;
	background: none;
	font-size: 12px;
	color: #455560;	
}
