/* dateinfo */
.left p.dateinfo {
  background: url(../images/date-bg.gif) no-repeat;
  height: 83px;
  width: 68px;
  margin: 12px 0 0 70px;
  padding: 8px 0 0 1px;
  font: bold 15px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}
.left p.dateinfo span {
  font: bold 30px Arial, Helvetica, sans-serif;
  display: block;
  color: #555;
  margin: 8px 0 0 0;
  padding: 0;
  letter-spacing: 0;
}


/* post meta */
.left .post-meta {
    width: 140px;
    font-size: 10px;
    margin: 5px 0 20px 0;
    padding: 0;
}
.left .post-meta h4 {
   text-align: right;
   margin: 0 5px 10px 5px;
   padding: 0;
   color: #555;
}
.left .post-meta ul {
   list-style: none;
   margin: 0; padding: 0;
   border-top: 1px solid #F1F1F1;
     

	}
.left .post-meta ul {
		background: url(../images/group_box2.png) no-repeat -18px -10px;
				
 
}
.left .post-meta ul li {
	list-style: none;
	border-bottom: 1px solid #F1F1F1;
   padding: 3px 5px;
	margin: 0;
   text-align: right;
	color: #147DB6;
}
* html body .left .post-meta ul li { height: 1%; }

.left .post-meta ul.tags li { background: url(../images/tag.gif) no-repeat 2px center; }
.left .post-meta ul li.user { background: url(../images/EnvelopeIcon.gif) no-repeat 2px center; }
.left .post-meta ul li.time { background: url(../images/comment.gif) no-repeat 2px center; }
.left .post-meta ul li.comment { background: url(../images/clock.gif) no-repeat 2px center; }
.left .post-meta ul li.permalink { background: url(../images/document.gif) no-repeat 2px center; }

.left .post-meta ul li a { color: #147DB6; }
.left .post-meta ul li a:hover { color: #333; }





/* Main Content */

.post {
   margin: 5px 0 20px 0;
   padding: 0 0 0px 0;
   width: 740px;
   overflow: hidden;
   border-bottom: 1px solid #eee;
}
.right {
	width: 560px;
   float: right;
   display: inline;
   padding-right: 15px;
}
.left {
    position: relative;
    width: 250px;
    float: left;
	left: 125px;
    display: inline;
}
.right .image-section {
	clear: both;
	display: block;
	margin: 25px 0 10px 20px;
	padding: 0;
}

.right .image-section {
	clear: both;
	display: block;
	margin: 25px 0 10px 20px;
	padding: 0;
}
.right .image-section img {
	background: #FFFFFF;
   border: 1px solid #FFFFFF;
	padding: 12px;
}

#sidebar {
	width: 260px;
	float: right;
   margin: 0;
   padding: 15px 0;
   font-size: .95em;
}




#header {
  position: relative;
  margin: 0 auto;
  width: 1000px;
}

#signheader h1#logo-text { margin: 0; padding: 0; }
#signheader h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0 5px 0 0;
	font: bold 55px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
	letter-spacing: -4px;
	color: #333;
	text-decoration: none;

  	/* change the values of top and left to adjust the position of the logo*/
	top: 22px; left: -100px;
  
  
  }