@charset "utf-8";
/* CSS Document */

.loginText {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #33527F;
	font-weight: bold;
}
.labelCell2 {
	display: table-cell;
	width: 150px;
	border: 0px solid blue;
	padding: 1em;
	vertical-align: top;
	text-align: right;
}

.contentCell2 {
	display: table-cell;
	width: 350px;
	border: 0px solid blue;
	padding: 0.5px 0px 0px 35px;
	text-align:left;
}

.errorBgColor{
background-color:#CC0000;
}

input.login {
	font: bold 12px Arial, Sans-serif;
	height: 25px;
	padding: 2px 27px;
	color: #FFF;
	background: #2C76A6;
	border-width: 1px;
	border-style: solid;
	border-color: #86BBDF #245F86 #245F86 #86BBDF;
	cursor: pointer;
}

.contentWrap
{
	margin-left: 25px;
	margin-right: 25px;
	
	line-height: 22px;
	border-width:0px;
	border-style:solid;
	
}

.panelFont{
	color: #33527F;
	font-size: 12pt;
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	vertical-align: middle;
	}
	.textfield { 
	font-size: 50px; 
}

.lightPanel
{
	position: relative;
	top: 310px;
	left: 0px;
	width: 700px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #FFFFFF;
}

.lightPanelTop
{
	font-size: 0px;	/* ensures min height */
	height: 12px;
	background-image: url(../images/lightPanel_top.png);
}

.lightPanelTop .cap
{
	height: 12px;
	background-image: url(../images/lightPanel_topRight.png);
	background-position: right;
	background-repeat: no-repeat;
}

.lightPanelBody
{
	background-image: url(../images/lightPanel_body.png);
	background-repeat: repeat-y;
}

.lightPanelBody .cap
{
	background-image: url(../images/lightPanel_bodyRight.png);
	background-position: right;
	background-repeat: repeat-y;
}

.lightPanelBottom
{
	font-size: 0px;	/* ensures min height */
	height: 12px;
	background-image: url(../images/lightPanel_bottom.png);
}

.lightPanelBottom .cap
{
	height: 12px;
	background-image: url(../images/wel_lightPanel_bottomRight.png);
	background-position: right;
	background-repeat: no-repeat;
}



.centerPane .cpView{
	float: left;
	width: 670px;
	height: 429px;
	margin: 20px 10px 10px 0px;
	padding: 5px;
	background-image: url(../images/panels/center/inCyyteViewer2.png);
	border: 1px solid #dfe1e2;
	background-position: center center;
	background-repeat: no-repeat;
}

.cpView .pieChart{
	clear: both;
	float: center;
	width: 450px;
	height: 350px;
	
	margin: 0px 10px 10px 100px;
}
.cpView .question{
	clear: both;

	text-align:center;
	color: #33527F;
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	margin: 40px 0px 0px 0px;
}