<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>InCyyte Email Templates Welcome Email</title>
    <style type="text/css">
        <!--
        body {
            margin: 0px;
            padding:0px;
            border:0;
            font:16px/22px Arial, Helvetica, sans-serif;
            font-weight:normal;
            color:#1b303f;
            background:#DBD9D5 url('http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/bg_pattern.png') 0 0 repeat;
        }
        A {text-decoration:underline; color:#1b303f;}
        A:hover {text-decoration:none; color:#b40021;}
        -->
    </style>
</head>
<body >
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0"  bgcolor="#ffffff">
    <tr>
        <td colspan="3" align="left" valign="top" style="background:#012c3d;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="58%">&nbsp;</td>
                <td width="42%" align="right" style="padding:5px 15px 0 0 ;font-size:11px;text-align:right;line-height:16px;	color:#FFFFFF;">Email not displaying properly?<br />
                    <a href="${webURL}" style="color:#fff;">View in your browser</a> </td>
            </tr>
        </table></td>
    </tr>
    <tr>
        <td colspan="3" align="left" valign="top" style="background:#012c3d;"><img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/logo_header.jpg"></td>
    </tr>
    <tr>
       <td>
           <table width="500" align="center">
               <tr>
                   <td style="color:#ccc; font-size:12px;" height="40px;" colspan="3" align="right"><a href="${webURL}" style="color:#012c3d; text-decoration: none;">Your Account</a> | <a href="${webURL}" style="color:#012c3d;"><a href="${webURL}" style="color:#012c3d; text-decoration: none;">InCyyte.com</a>
                   </td>
               </tr>
               <tr>
                   <td>
                        <table width="500" align="center"  style="border-top:1px solid #ccc " >
                            <tr>
                                <td style="font-size: 12px;">
                                  <p style="font-size: 20px; color: #000;"><br>Order Confirmation</p>
                                     Order Date & Time : ${orderDateTime}  <br>
                                    Order Reference:  ${orderId} <br>
                                    EPDQ Payment Reference: ${orderReference}  <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: #013a50">
                                    <span style="font-size: 16px; color: #013a50;"><br><br><br>Hello ${username},</span><br>
                                    <span style="font-size: 12px; color: #013a50">Thank you for placing an order with inCyyte Limited, your payment was successful.<br>
                                    Please see details of your order below.<br><br></span>
                                </td>
                            </tr>
                        </table>
                   </td>
               </tr>
               <tr>
                   <td>
                      <table width="500" style="border-top:2px solid #2d3741;background: #efefef;padding-left: 25px; ">
                          <tr>
                              <td style="font-size: 14px; color: #928f89;" valign="top">
                                  <br>
                                  PAYMENT MADE TO: <br>
                                  <p style="color: #343e48;font-size: 14px;">InCyyte Limited    <br>
                                  24, CEME Innovation Centre  <br>
                                  Marsh Way  <br>
                                  Rainham  <br>
                                  Essex   <br>
                                  RM13 8EU </p>
                              </td>
                              <td  style="font-size: 14px; color: #928f89;" valign="top">
                                  <br>
                                  PAYMENT MADE BY:
                                  <p style="color: #343e48;font-size: 14px;">  ${firstName} &nbsp;  ${lastName} <br>
                                  ${address1}     <br>
                                  ${address2}     <br>
                                  ${city}      <br>
                                  ${country}      <br>
                                  ${postcode}  </p><br>
                              </td>
                          </tr>
                      </table>
                   </td>
               </tr>
               #if(${orderDetailsSection} == "Subscription" )
               <tr>
                   <td>
                       <table width="500" align="center" style="background: #efefef;padding-left: 25px;" >
                           <tr>
                               <td style="font-size: 14px; color: #928f89;" valign="top">
                                   <br>
                                    ORDER DETAILS:
                                   			 <p>Subscription: <font color="#2d3741">SILVER MEMBERSHIP</font> </p>
                                       			<a href="www.incyyte.com/incyyteBusiness.cyt" style="color:#003a6d; text-decoration: none;font-size: 12px;margin-left: 92px; ">For full details see www.incyyte.com/incyyteBusiness.cyt </a>
                                 </td>
                           </tr>
                       </table>
                   </td>
               </tr>
               #end
               #if(${orderDetailsSection} == "pollPayment" )
               <tr>
                   <td>
                       <table width="500" align="center" style="background: #efefef;padding-left: 25px;" >
                           <tr>
                               <td style="font-size: 14px; color: #928f89;" valign="top">
                          <br>
                      		 ORDER DETAILS:<br><br>
                        		<span>Poll: <font color="#2d3741"> ${poll} </font> </scan><br>
                        		<span>${regionLabel}: <font color="#2d3741"> ${region} </font> </span><br>
                        		<span>Age Range: <font color="#2d3741"> ${ageRange} </font> </span><br>
                        		<span>Gender: <font color="#2d3741"> ${gender} </font> </span><br>
                        		<span>Audience: <font color="#2d3741"> ${recipients} </font> </span><br><br>
                      </td>
                           </tr>
                       </table>
                   </td>
               </tr>
               #end
#*
               <tr>
               <td>
                   <table width="500" align="center" style="background: #efefef;padding-left: 25px;" >
                       <tr>
                           <td style="font-size: 14px; color: #928f89;" valign="top">
                               <br>
                               PAYMENT DETAILS:
                               <p style="color: #928f89;font-size: 14px;"><span style="width: 150px; float: left;">Card number:</span><b style="color: #343e48"> XXXX XXXX XXXXX 41117</b><br>
                               <span style="width: 150px; float: left;">Card type:</span><b style="color: #343e48"> VISA7</b><br>
                               <span style="width: 150px; float: left;">Expiry Date:</span><b style="color: #343e48"> 01/17</b></p>

                               <p style="color: #928f89;font-size: 14px;"><span style="width: 200px; float: left;">Cardholder's name:</span> <b style="color: #343e48">MR SANDEEP KUMAR</b><br>
                               <span style="width: 200px; float: left;">Customer email:</span> <b style="color: #343e48"> s.kumar@hotmail.com</b><br>
                              <span style="width: 200px; float: left;"> Authorisation code:</span>  <b style="color: #343e48">2546352 </b><br>
                                   <span style="width: 200px; float: left;"> Payment status:</span> <b style="color: #343e48"> Successful</b>  </p>
                           </td>
                       </tr>
                   </table>
               </td>
               </tr>
*#
               <tr>
                   <td>
                       <table width="500" style="border-top: 1px solid #c3c3c3;border-bottom: 1px solid #c3c3c3;margin-top: 5px;">
                           <tr>
                               <td  style="font-size: 13px; color: #928f89; padding: 10px;" valign="top" width="70%" align="right" >
                                   Item subtotal: <br>
                                   VAT: <br>
                                   Order Total: <br>
                               </td>
                               <td  style="font-size: 13px; color: #928f89;padding: 10px;" valign="top" width="30%" align="left">
                                  ${itemSubtotal} <br>
                                  ${tax}<br>
                                  <strong>${orderTotal}</strong> <br>
                               </td>
                           </tr>
                       </table>
                   </td>
               </tr>
               <tr>
                   <td style="font-size: 14px; color: #928f89; padding: 10px;">
                       Need assistance with your order? Contact us at :<a href="#" style="color: #00c2f7;text-decoration: none;">billing@incyyte.com </a>
                   </td>
               </tr>
           </table>

       </td>
    </tr>
    <tr>
        <td height="87" colspan="3" align="left" valign="top" style="background:#002c3d;" ><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td >&nbsp;</td>
            </tr>
            <tr>
                <td style="color:#fff; font-size:12px;"><a href="${webURL}" style="color:#fff;">InCyyte Home</a> | <a href="${webURL}" style="color:#fff;">Top Polls</a> | <a href="${webURL}" style="color:#fff;">inCyyte for Business</a><br>
                    InCyyte Limited  Marshway  Rainham Essex RM13 8EU United Kingdom.</td>
            </tr>
        </table></td>
    </tr>
</table>
</body>
</html>