<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>InCyyte Email Templates Welcome Email</title>
    <style type="text/css">
        <!--
        body {
            margin: 0px;
            padding:0px;
            border:0;
            font:16px/22px Arial, Helvetica, sans-serif;
            font-weight:normal;
            color:#1b303f;
            background:#DBD9D5 url('http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/bg_pattern.png') 0 0 repeat;
        }
        A {text-decoration:underline; color:#1b303f;}
        A:hover {text-decoration:none; color:#b40021;}		
		.topLine {border-bottom: solid 1px #CCCCCC;}
		.topLine2 {border-bottom: solid 3px #000000;}
		.totalPrice {border-bottom: solid 1px #CCCCCC; border-top: solid 1px #CCCCCC;}
		.greyBkgrd {background: #EEEEEE }
		
		.style1 {font-size: 14px}
		.style2 {font-weight: bold}
		.style3 {
			color: #012C3D;
			font-weight: bold;
			font-size: 14px;
		}
		.style7 {
		color: #012C3D;
		font-size: 11px;}
		.photoframe{
		border:1px solid #A4A4A4;
		padding:1px;
		}
		.links{
		      text-decoration:none; color:#0099FF;
			  cursor:pointer; font-size: 13px;
				}		

        -->
    </style>

</head>
<body >
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0"  bgcolor="#ffffff">
    <tr>
        <td colspan="3" align="left" valign="top" style="background:#012c3d;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="58%">&nbsp;</td>
                <td width="42%" align="right" style="padding:5px 15px 0 0 ;font-size:11px;text-align:right;line-height:16px;	color:#FFFFFF;">Email not displaying properly?<br />
                    <a href="${webURL}" style="color:#fff;">View in your browser</a> </td>
            </tr>
        </table></td>
    </tr>
    <tr>
        <td colspan="3" align="left" valign="top" style="background:#012c3d;"><img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/logo_header.jpg"></td>
    </tr>
    <tr>
        <td width="24" align="left" valign="top">&nbsp;</td>
        <td valign="top"><table width="550" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td height="20" >&nbsp;</td>
            </tr>
            <tr>
                <td height="20" ><table width="100%">
                  <tr>
                    <td rowspan="2"><div><img src="${profilePic}" width="46" height="46" alt="User Photo" class="photoframe"></div></td>
                    <td colspan="2"><p class="style3"> Hi ${username}, </p></td>
                  </tr>
                  <tr>
                    <td colspan="2" class="style3">You have new activity on your inCyyte poll.</td>
                  </tr>
                </table></td>
            </tr>
            <tr>
                <td height="20" class="topLine"></td>
            </tr>

            <tr>
                <td height="20" class="style3">Your Poll: </td>
            </tr>
            <tr>
                <td height="25">&nbsp;</td>
            </tr>
            <tr>
            	<td class="style1">${question}</td>
          </tr>
            <tr>
                <td height="25">&nbsp;</td>
            </tr>
            <tr>
                <td class="greyBkgrd">
                #if( ${notificationType} == "COMMENTS")
                	<img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/notification-comment.png" border="0" alt="view"> <a href="${viewResult}" class="links"> View new comment</a>
				#else                    
                <img src="http://94e1f0b89e5310d14a74-4f0ee7521d78a5eb3e12120d36c3b41b.r87.cf3.rackcdn.com/notification-pie.png" border="0" alt="view"> <a href="${viewResult}" class="links">View new poll results</a>
                #end
                </td>
          </tr>
            <tr>
                <td class="greyBkgrd"></td>
          </tr>
            <tr>
                <td height="25">&nbsp;</td>
            </tr>
            <tr>
                <td height="25">&nbsp;</td>
            </tr>
      </table>
        </td>
        <td width="24" align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3" align="center" valign="top" ><p style="font-size:10px;color:#002c3d;">You have received this email because someone you know has invited you to join inCyyte<br></p></td>
    </tr>
    <tr>
        <td height="87" colspan="3" align="left" valign="top" style="background:#002c3d;" ><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td >&nbsp;</td>
            </tr>
            <tr>
                <td style="color:#fff; font-size:12px;"><a href="${webURL}" style="color:#fff;">InCyyte Home</a> | <a href="${webURL}" style="color:#fff;">Top Polls</a> | <a href="${webURL}" style="color:#fff;">inCyyte for Business</a><br>
                    InCyyte Limited  Marshway  Rainham Essex RM13 8EU United Kingdom.</td>
            </tr>
        </table></td>
    </tr>
</table>
</body>
</html>
